[2020-11-11 21:56] woodsp-ibm opened #27 "MES Factory setter/getters should allow/show Optional where applicable"
In looking at the setters/getters in MES factories, during the gradient addition Qiskit/qiskit-aqua#1421 , I notice the original getter/setters for initial_point, expectation, optimizer, that default to None in factory constructor, do not show in typehint that None is a valid value to set these too, via setter, or one would expect to have None back from getter, i.e. are Optional as has now been do

[2020-11-30 22:19] MariaSapova opened #52 "QEOM energies differ for Statevector and Qasm simulator"
### Information

- **Qiskit Aqua version**: 0.8.1
- **Python version**: 3.6.8
- **Operating system**: Ubuntu

### What is the current behavior?

For H2 molecule QEOM excited state energies differ running with Statevector and Qasm simulators.

### Steps to reproduce the problem

Please, run the [gist](https://gist.github.com/MariaSapova/0912242cfb0b6e344d86367330f5e94d)

### What is the expected be

[2020-12-03 18:58] nonhermitian opened #110 "VQE does not respect input variational form"
### Information

- **Qiskit Aqua version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
In going through this tutorial here: https://qiskit.org/documentation/tutorials/chemistry/03_ground_state_solvers.html it is clear that the `VQE` solver does not actually use the input variational form.  For example, I can do

[code]
which yields:

[code]

However thi

[2020-12-03 19:38] nonhermitian opened #28 "pyscf driver does no checking on input arguments at instantiation"
### Information

- **Qiskit Aqua version**: lastest
- **Python version**:
- **Operating system**:

### What is the current behavior?
for example:
[code]
does not generate an error when the object is built.  The `unit` kwarg does look for an enum, but that is it.  This leads to hard to read errors down the line:

e.g. the above gives:

[code]

or

[code]

gives:

[code]

### Steps to reproduce the

[2020-12-03 19:41] nonhermitian opened #29 "Drivers should explicitly mention what values they allow for basis kwarg"
### What is the expected enhancement?

There is no way to tell from the documentation what values are supported for the `basis` kwarg in the drivers.  Only `PyQuanteDriver` gives the values, the rest just say `basis (str) – Basis set`.

For reference see: https://qiskit.org/documentation/apidoc/qiskit.chemistry.drivers.html

[2021-01-18 23:07] MariaSapova opened #53 "GroundStateEigensolver evaluate_operators() works incorrectly with qasm"
### Information

- **Qiskit Aqua version**: qiskit-master
- **Python version**: 0.3.7
- **Operating system**: Ubuntu

### What is the current behavior?

I investigated my issue Qiskit/qiskit-nature#52, where matrix elements of Q matrix in qEOM were completely incorrect. It turns out that using evaluate_operators() from GroundStateEigensolver produces incorrect expectation values when running with

[2021-01-28 19:57] manoelmarques opened #2 "Fix tox and stestr and Add header"
Migrated from Enterprise Github.
Creator: @ikkoham

### Summary

[2021-01-28 19:57] manoelmarques opened #3 "FermionicSumOp without primitive"
Migrated from Enterprise Github.
Creator: @ikkoham

### Summary

Jupyter note.
https://gist.github.ibm.com/Ikko-Hamamura1/27c70e3d6c7e8c9b383dd04c1a0bd1b0

![classes](https://media.github.ibm.com/user/281886/files/5aac1c80-617c-11eb-866d-37ab0f599a6c)

[2021-01-28 19:57] manoelmarques commented on #3
Creator: @ikkoham

I've separated this Pull Request to #23. I will rebase once #23 is merged.

[2021-01-28 19:57] manoelmarques opened #4 "Design Overview (discussion)"
Migrated from Enterprise Github.
Creator: @mrossinek

Let's use this issue for general discussions which do not fit into a specific issue (yet).
To get this started, here is the updated overview of `qiskit_nature`.

EDIT: I uncommented the oudated UML diagram. Please see the last comment of this issue for the most up-to-date version.

[2021-01-28 19:57] manoelmarques commented on #4
Creator: @mrossinek

And here is the updated overview UML:
![Qiskit_Nature](https://media.github.ibm.com/user/251930/files/3d50d000-5b36-11eb-8da1-d910061b9588)

As you can see, through the removal of `SecondQuantizedSumOp` we can now define all other interfaces dependent on `SumOp`. This allows the use of any `SumOp` implementation as a standalone object and the case of `SecondQuantizedOperator`

[2021-01-28 19:57] manoelmarques opened #5 "Replace QMolecule with DriverResult"
Migrated from Enterprise Github.
Creator: @mrossinek

### What is the expected enhancement?

In the old Qiskit Aqua, all runtime specific information generated by a driver were stored in the `QMolecule` class, which will not be moved to Qiskit Nature.
However, we are still in need of a container for all of this information and it should not only be stored centrally by the `problems`-wrappers becau

[2021-01-28 19:57] manoelmarques commented on #5
Creator: @woodsp-ibm

I put this is aqua-core channel, having seen qiskit-nature-core got archived, but moved it out here as I had not seen this issue at the time.

...

In regards of QMolecule - the design there was to accommodate driver output in a driver independent way. It is self-contained (does not import from aqua) as its used to transfer data, via the hdf5 file, from PSI4 process back to A

[2021-01-28 19:57] manoelmarques commented on #5
Creator: @woodsp-ibm

It needs multiple calls I think. One for energy hamiltonian, 3 for dipoles (X, Y and Z), and we talked about having them there for Spin, Num Particle, Magnetization operators too

[2021-01-28 19:57] manoelmarques commented on #5
Creator: @mrossinek

I think that sounds like a good suggestion.

Yes, I was not being as verbose this morning as I was about to run late for another meeting :sweat_smile:

[2021-01-28 19:57] manoelmarques commented on #5
Creator: @woodsp-ibm

Looking at #21 what I called the RawDriverData above is perhaps more for fermionic drivers versus some raw data entity for bosonic drivers. Though in the latter case its harder to think about common since we only have the one driver based on Gaussian. But maybe whatever the bosonic raw data is it could include this WatsonHamiltonian aspect? although it its kinda of a derived

[2021-01-28 19:57] manoelmarques opened #6 "Logarithmic-Mapper (spin)"
Migrated from Enterprise Github.
Creator: @mrossinek

### What is the expected behavior?

Implement and test the `LogarithmicMapper`.
This issue breaks-out of #18 and can be used to assign and discuss related topics.

- [ ] Implementation
- [ ] Unittest
- [ ] Documentation

[2021-01-28 19:57] manoelmarques commented on #6
Creator: @mrossinek

Below is Simon's original code for the logarithmic encoding for reference
[code]

[2021-01-28 19:57] manoelmarques opened #7 "Linear-Mapper (spin)"
Migrated from Enterprise Github.
Creator: @mrossinek

### What is the expected behavior?

Implement and test the `LinearMapper`.
This issue breaks-out of #18 and can be used to assign and discuss related topics.

- [ ] Implementation
- [ ] Unittest
- [ ] Documentation

[2021-01-28 19:57] manoelmarques commented on #7
Creator: @mrossinek

Below is Simon's original code for the linear encoding for reference
[code]

[2021-01-28 19:57] manoelmarques opened #8 "Direct-Mapper (bosonic)"
Migrated from Enterprise Github.
Creator: @mrossinek

### What is the expected behavior?

Implement and test the `DirectMapper`.
This issue breaks-out of #18 and can be used to assign and discuss related topics.

- [ ] Implementation
- [ ] Unittest
- [ ] Documentation

[2021-01-28 19:57] manoelmarques opened #9 "BKSF-Mapper"
Migrated from Enterprise Github.
Creator: @mrossinek

### What is the expected behavior?

Implement and test the `BravyiKitaevSuperFastMapper`.
This issue breaks-out of #18 and can be used to assign and discuss BKSF-related topics.

- [x] Implementation
- [x] Unittest
- [x] Documentation

[2021-01-28 19:57] manoelmarques opened #10 "Bravyi-Kitaev-Mapper"
Migrated from Enterprise Github.
Creator: @mrossinek

### What is the expected behavior?

Implement and test the `BravyiKitaevMapper`.
This issue breaks-out of #18 and can be used to assign and discuss BK-related topics.

- [x] Implementation
- [ ] Unittest
- [ ] Documentation

[2021-01-28 19:57] manoelmarques opened #11 "Parity-Mapper"
Migrated from Enterprise Github.
Creator: @mrossinek

### What is the expected behavior?

Implement and test the `ParityMapper`.
This issue breaks-out of #18 and can be used to assign and discuss Parity-related topics.

- [x] Implementation
- [x] Unittest
- [ ] Documentation

[2021-01-28 19:57] manoelmarques opened #12 "Jordan-Wigner Mapper"
Migrated from Enterprise Github.
Creator: @mrossinek

### What is the expected behavior?

Implement and test the `JordanWignerMapper`.
This issue breaks-out of #18 and can be used to assign and discuss JW-related topics.

- [x] Implementation
- [x] Unittest
- [ ] Documentation

[2021-01-28 19:57] manoelmarques opened #13 "Naming and packaging fixes"
Migrated from Enterprise Github.
Creator: @mrossinek

### What is the expected enhancement?

#### Naming
In the remainder of Qiskit we are consistently using verbs for class names, rather than nouns.
Thus, we should follow that approach and rename the classes and modules like:
- [x] `Mapping` -> `Mapper`
- [x] `Transformation` -> `Transformer`
etc.

#### Location
Currently, we plan a differentiati

[2021-01-28 20:00] manoelmarques opened #14 "Add problems.second_quantization.{molecular,lattice,etc.} interfaces and implementations"
Migrated from Enterprise Github.
Creator: @mrossinek

Since the latest release of Qiskit Aqua we have the `FermionicTransformation` (and alike) classes which can be used to quickly map from a problem description (i.e. a driver) to a qubit operator.
With the refactored input flow we want to be able to do something similar but we will call it slightly differently.

As an example I here propose a `Pr

[2021-01-28 20:00] manoelmarques commented on #14
Creator: @mrossinek

Here is a short snippet on an example workflow for a molecular problem in second quantization:
[code]

[2021-01-28 20:00] manoelmarques opened #15 "Adapt bosonic drivers to the new input flow"
Migrated from Enterprise Github.
Creator: @mrossinek

All bosonic drivers need to be adapted to produce a `SecondQuantizedSumOp` rather than a `QMolecule`. Be sure to also take a look at #14 for examples of the fermionic driver.

- [ ] GaussianForcesDriver

We also need to figure out a good place for the following classes:
- [ ] WatsonHamiltonian
- [ ] BosonicBasis
  - [ ] HarmonicBasis

[2021-01-28 20:00] manoelmarques opened #16 "Adapt fermionic drivers to the new input flow"
Migrated from Enterprise Github.
Creator: @mrossinek

All fermionic drivers need to be adapted to produce a `SecondQuantizedSumOp` rather than a `QMolecule`. As a good starting point, the following may be helpful to transform what is currently stored in a `QMolecule` into a `FermionicSumOp`:

[code]

- [ ] CP2KDriver
- [ ] FCIDumpDriver
- [ ] GaussianDriver
- [ ] HDF5Driver
- [ ] Psi4Driver
- [ ]

[2021-01-28 20:00] manoelmarques commented on #16
Creator: @mrossinek

Some thought on the above snippet:

- we should generalize this to also work for `n`-body terms (like Mario Motta did recently in this PR: https://github.com/Qiskit/qiskit-aqua/pull/1483)
- the above may be easier if we use the physicist' notation for the integrals/coefficients
- we should probably implement the above as a utility method in the `FermionicOperator` class
- if w

[2021-01-28 20:00] manoelmarques opened #17 "Implement Transformers"
Migrated from Enterprise Github.
Creator: @mrossinek

The state of the `SecondQuantizedSumOp`-Transformations is the following:

- [ ] Implementation
  - [ ] SeniorityZeroTransformation
  - [x] FreezeCoreTransformation
  - [x] ActiveSpaceTransformation
  - [ ] ParticleHoleTransformation
  - ~TranscorrelatedTransformation~
- [ ] Unittests
  - [ ] SeniorityZeroTransformation
  - [x] FreezeCoreTransf

[2021-01-28 20:00] manoelmarques opened #18 "Implement the QubitMappers"
Migrated from Enterprise Github.
Creator: @mrossinek

The state of the QubitMappers is the following:

- [x] Implementation
  - [x] JordanWignerMapper (fermionic)
  - [x] ParityMapper (fermionic)
  - [x] BravyiKitaevMapper (fermionic)
  - [x] BravyiKitaevSuperFastMapper (fermionic)
  - ~DirectMapper (bosonic)~
  - [x] LinearMapper (spin)
  - [x] LogarithmicMapper (spin)
- [x] Unittests
  - [x] Jor

[2021-01-28 20:00] manoelmarques commented on #18
Creator: @mrossinek

You can find an example of the new Jordan-Wigner mapping in action here:
https://gist.github.ibm.com/oss-zurich/a2b75f58d4cd2eae7df8e1f1e9dcd6b0

[2021-01-28 20:00] manoelmarques commented on #18
Creator: @woodsp-ibm

Can we look at avoiding `isinstance` and using methods implemented on a base class/interface to do things like this. If someone wants to add another operator that is of type Fermionic then an instance check like this is problematic. There is already some type field that seems to be passed to superclass - can we not have some method query based off that, or an extension thereo

[2021-01-28 20:00] manoelmarques commented on #18
Creator: @pbark

@woodsp I think that the idea behind this is that not all mappings work with all type of operators. e.g. if one provides a BosonicOperator in the JW mapping this is not going to work. Sure we can try to think ways of spliting the mappings (e.g. FermionicMappings VS BosonicMappings) but I am not sure how much complicated this can be.

[2021-01-28 20:00] manoelmarques commented on #18
Creator: @mrossinek

I partially agree with @woodsp here. The `isinstance` call is not the nicest solution here but I went for it because it was the quickest route to a prototype.
Could you explain what you mean by

I am not sure which `type field` you are referring to, here. But I am open to suggestions on how to improve this! Feel free to propose a more concrete example or open a PR directly :+1

[2021-01-28 20:00] manoelmarques commented on #18
Creator: @mrossinek

That's a good point! Both, the `ParticleOperator` and `SumOp` have a `particle_type`-attribute which is a string ([see e.g. here](https://github.ibm.com/BPA/qiskit-nature/blob/input-flow-interfaces/qiskit_nature/operators/second_quantization/primitives/particle_operator.py#L30-L33)). That should be pretty well suited for our needs here.

In either case, we would have to update

[2021-01-28 20:00] manoelmarques opened #19 "Extract common functionality into the interfaces"
Migrated from Enterprise Github.
Creator: @mrossinek

- [ ] extract common functionality into the `ParticleOperator`
  - This will probably affect things like `__sub__`, `__rmul__`, `__neg__`, `__pow__`, `__ne__` because all of these can link to their counterpart

- [ ] extract common functionality into the `SumOp` (similar to the above)

[2021-01-28 20:00] manoelmarques opened #20 "Finish the SecondQuantizedOperator implementation"
Migrated from Enterprise Github.
Creator: @mrossinek

- [ ] unittest all methods

- ~unify the `SecondQuantizedOp` as much as possible with the other classes~
- ~make the `SecondQuantizedSumOp` implement the `SumOp` interface~

[2021-01-28 20:00] manoelmarques commented on #20
Creator: @mrossinek

Here is the new UML for the proposed `SecondQuantizedOp`:
![Qiskit_Nature_Operators](https://media.github.ibm.com/user/251930/files/87d14d00-5b34-11eb-9db0-767b38a49052)

[2021-01-28 20:00] manoelmarques opened #21 "Finish the FermionicOperator implementation"
Migrated from Enterprise Github.
Creator: @mrossinek

- [x] implement the `to_opflow()` method in both, `primitives.FermionicOperator` and `FermionicSumOp`
- [x] unittest all methods

[2021-01-28 20:00] manoelmarques commented on #21
Creator: @mrossinek

You can find an example of the new FermionicOperator in action here:
https://gist.github.ibm.com/oss-zurich/a2b75f58d4cd2eae7df8e1f1e9dcd6b0

[2021-01-28 20:00] manoelmarques commented on #21
Creator: @mrossinek

For reference purposes I will add Simon's original code for the `to_qiskit()` method of the `FermionicOperator`. This can be used as a reference in comparison to the new `to_opflow()` method to guide the similar transition in the case of the other operator classes (#2, #3).
[code]

EDIT: Note, that the `N` and `E` operators were not working properly which is why they are now i

[2021-01-28 20:00] manoelmarques opened #22 "Finish the SpinOp implementation"
Migrated from Enterprise Github.
Creator: @mrossinek

- [ ] implement the `to_opflow()` methods for both, `primitives.SpinOperator` and `SpinSumOp`
- [ ] unittest all methods

[2021-01-28 20:00] manoelmarques commented on #22
Creator: @mrossinek

Below is Simon's original code for the `to_qiskit()` mapping which needs to be rewritten to use the `PaulliSumOp` (rather than the legacy `WeightedPauliOperator`) and can be used as a starting point for the `to_opflow()` method.
[code]

I will also add the original code in the case of the `FermionicOperator` to #4 shortly, which can be compared against the actual implementatio

[2021-01-28 20:02] manoelmarques opened #23 "Finish the BosonicOp implementation"
Migrated from Enterprise Github.
Creator: @mrossinek

The current `BosonicOp` is a mere copy of the `FermionicOp` with a search-and-replace of `fermionic` for `bosonic`. The actual mathematics of the implementation need to adapted.

- [ ] adapt the mathematics of the `BosonicOp`
- [ ] unittest all methods

[2021-01-28 20:02] manoelmarques commented on #23
Creator: @mrossinek

Pauline and I will look into getting the mathematics of this operator sorted out in early February.

[2021-01-28 20:41] #2 closed

[2021-01-28 20:41] manoelmarques commented on #2
This will be a PR

[2021-01-28 20:42] #3 closed

[2021-01-29 20:36] mrossinek opened #26 "[Feature] HF/DFT Embedding Schemes"
### What is the expected improvement?

To add an implementation of the HF and DFT embedding schemes proposed in this paper: https://arxiv.org/abs/2009.01872.

The aforementioned paper provides an algorithm which allows embedding a quantum computing calculation into a DFT calculation. We already have a basic implementation based on the development version of Qiskit which we will open a PR for once

[2021-02-03 16:22] #27 closed

[2021-02-04 17:40] mrossinek commented on #4
For completeness; here is the most up-to-date version of the UML. It is becoming a little bit crowded so I will update individual issues with close-up figures of the respective parts.
![Qiskit_Nature](https://user-images.githubusercontent.com/21973473/106932741-610c3c80-6718-11eb-9132-8482c8b1503c.png)

[2021-02-04 17:53] mrossinek commented on #18
We would like to remove all of the mapper logic from the operators in order to cleanly separate this module. One motivation is that in the future we may not need to map these operators for all possible backends which we may want to use.
This means, that the mappers need to implement the translation logic from a `ParticleOp.label` to a (sum of) Pauli string(s) themselves. Rather than relying on the

[2021-02-04 17:54] mrossinek commented on #18
![screenshot_1612460491](https://user-images.githubusercontent.com/21973473/106934394-5baff180-671a-11eb-89f8-3602a3fcb433.png)

[2021-02-04 17:56] mrossinek commented on #16
Disclaimer: some of the above comments are outdated. New information on how the drivers need to be adapted will follow in the near future.

[2021-02-04 17:56] mrossinek commented on #15
Disclaimer: parts of the above comment are outdated. New information on how the drivers need to be adapted will follow in the near future.

[2021-02-04 18:02] mrossinek commented on #17
We actually need to implement these transformers *before* the `SecondQuantizedOp` is being created. The reason is that in the process of this creation multiple integral coefficients will map to identical `ParticleOp.label`s and, therefore, a compression (or loss) of information occurs.
However, all of the Transformers mentioned above rely on the complete set of raw information (up-to-now mostly in

[2021-02-04 18:15] woodsp-ibm commented on #18
I am wondering whether there should just be FermionicMapper, BosonicMapper and SpinMapper base classes with a map taking their respective Operator and returning a PauliSumOp.  Mapping a mixed 2ndQOp requires doing the mappings against each of the types in there - I am struggling to see where bringing this to that level is of benefit. As a parallel to 2ndQOp and 2ndQOpMapper would that not contain

[2021-02-05 07:08] mrossinek commented on #18
Yes I think `FermionicMapper`, etc. make sense. I will update the UML again later.
And what you suggest above would then be similar to what we previously thought of as a `MixedMapper`:
[code]

Obviously the name can be made whatever we like :+1:

[2021-02-08 06:49] mrossinek commented on #21
Closed by #25

[2021-02-08 06:49] #21 closed

[2021-02-08 13:34] mrossinek commented on #4
Once again, here is the updated UML diagram of the design overview:
![Qiskit_Nature](https://user-images.githubusercontent.com/21973473/107226739-c7e06d00-6a1a-11eb-9208-ff49d81eed6f.png)

[2021-02-08 13:40] mrossinek commented on #19
Since we merged the `ParticleOperator` and `SumOp` interfaces, this issue is outdated and can be closed.

[2021-02-08 13:40] #19 closed

[2021-02-08 13:52] mrossinek commented on #5
For the first release of qiskit-nature we will leave the existing drivers and `QMolecule` classes mainly untouched. The refactoring work which was done during the move from qiskit-aqua/chemistry to here has isolated this part of the code into a state where we can more or less easily refactor it at a later point in time. Closing this for now.

[2021-02-08 13:52] #5 closed

[2021-02-08 13:53] mrossinek commented on #15
As explained in #5 we will leave the drivers mostly unchanged for now. We can re-open this once needed.

[2021-02-08 13:53] #15 closed

[2021-02-08 13:54] mrossinek commented on #16
As explained in #5 we will leave the drivers mostly unchanged for now. We can re-open this once needed.

[2021-02-08 13:54] #16 closed

[2021-02-10 13:51] woodsp-ibm opened #39 "Subroutines for analytic/parallel q-EOM calculations"
A PR was started in qiskit-aqua Qiskit/qiskit-aqua#1483 but the work should be moved/re-done here.

[2021-02-10 15:08] woodsp-ibm opened #40 "Re-organize unit tests along folder structure as per code"
Re-organize unit tests such that instead of a flat structure they are in a folder structure akin to the code.

We may want to adopt the same structure as Terra under test where they have different folders with the units tests under a `python` folder.

[2021-02-10 15:53] mrossinek commented on #40
I am not sure whether the `python` subfolder really makes sense in our case. To my understanding that is done in Terra in order to keep the tests for the `ipynb` integration tools separate, right?

[2021-02-10 16:04] manoelmarques commented on #40
Yes, unless there is any thought of having jupyter tests in the future, it seems redundant. Terra also has this test/randomized folder which it is all python tests, so I don't know why they didn't include it under their python folder.

[2021-02-10 16:09] woodsp-ibm commented on #40
Since it seemed to make things consistent it seemed to do no harm even if we never added any other types. Of course if other types were added then it would be simple enough to move the tests into such a folder if it weren't done now. I don't have a strong opinion one way or the other.

[2021-02-10 16:25] mrossinek commented on #40
I am also not opinionated on this. Just wanted to make the observation.
@manoelmarques Since you are assigned here, feel free to go ahead with either option :+1:

[2021-02-10 22:53] #40 closed

[2021-02-12 08:37] mrossinek commented on #4
Another update:
![Qiskit_Nature](https://user-images.githubusercontent.com/21973473/107746191-b3032280-6d15-11eb-9273-8817d9bbb30c.png)

Most notable changes:
- removal of `SpinOp`
- instead, problems which would have made use of this can construct a `BosonicOp` which is the most abstract representation
- examples are commented in e.g. the `LatticeModel` and `VibronicStructureProblem`

[2021-02-12 09:36] mrossinek commented on #23
We had some more discussions offline with regards to the implementation of the `BosonicOp` and `SpinOp` (#22).
Here, I will try to summarize some of these thoughts.

The most general representation of a `BosonicOp` is very similar to that of the `FermionicOp` but differs in the commutation relation with respect to the represented particles. Any additional details of the representation such as a di

[2021-02-12 09:41] mrossinek commented on #20
Here is an updated overview of the UML:
![screenshot_1613122875](https://user-images.githubusercontent.com/21973473/107752344-e39b8a00-6d1e-11eb-9198-60a90c7df837.png)

[2021-02-12 09:49] mrossinek opened #42 "Implement the MolecularProblem"
### What is the expected feature?

Implement the `MolecularProblem` class.
It should be located in the `qiskit_nature.problems.second_quantization.molecular` module.

A non-exhaustive list of tasks is:
- [x] port the old `FermionicTransformation` to the `MolecularProblem`
- [ ] move all `mapping` logic out of the problem and into the `GroundStateCalculation` interface
- [x] add logic for handling

[2021-02-12 09:53] mrossinek opened #43 "Implement the LatticeModel"
### What is the expected feature?

Implement the `LatticeModel` class. (we may want to call this a `LatticeProblem`)
It should be located in the `qiskit_nature.problems.second_quantization.lattice` module.

An important aspect to consider here, is that this implementation is responsible for the correct construction of the `SecondQuantizedOp`. This means, that it needs to know how to construct (wha

[2021-02-12 09:55] mrossinek opened #44 "Implement the VibronicStructureProblem"
### What is the expected feature?

Implement the `VibronicStructureProblem` class. (the name is a WIP)
It may be located in the `qiskit_nature.problems.second_quantization.vibrational` module. (Or do we want this to be in `qiskit_nature.second_quantization.molecular`?)

An important aspect to consider here, is that this implementation is responsible for the correct construction of the `SecondQuant

[2021-02-12 10:14] mrossinek commented on #14
I am closing this in favor of the individual issues to keep track of the separate problem instances:
- Molecular: #42
- Lattice models: #43
- Vibrational structure: #44

[2021-02-12 10:14] #14 closed

[2021-02-12 10:20] mrossinek opened #45 "Implement the ActiveSpaceTransformer"
### What is the expected feature?

Add the `ActiveSpaceTransformer`.

- [x] actual implementation
- [x] unittests
- [x] documentation

(I will set this to high priority because we need a first transformer working, in order to perform some initial testing. I will hopefully have a PR for this ready by the mid of next week.)

[2021-02-12 10:21] mrossinek opened #46 "Implement the SeniorityZeroTransformer"
### What is the expected feature?

Add the `SeniorityZeroTransformer`.

- [ ] actual implementation
- [ ] unittests
- [ ] documentation

[2021-02-12 10:22] mrossinek opened #47 "Implement the FreezeCoreTransformer"
### What is the expected feature?

Add the `FreezeCoreTransformer`.

- [x] actual implementation
- [x] unittests
- [x] documentation

[2021-02-12 10:22] mrossinek opened #48 "Implement the ParticleHoleTransformer"
### What is the expected feature?

Add the `ParticleHoleTransformer`.

- [ ] actual implementation
- [ ] unittests
- [ ] documentation

[2021-02-16 12:15] MariaSapova opened #51 "same_spin_doubles works incorrectly in UCCSD"
### Information

- **Qiskit Aqua version**: qiskit-master
- **Python version**: 3.8
- **Operating system**: Ubuntu

### What is the current behavior?

`same_spin_doubles = True` in UCCSD variational form does not work correctly, when only beta same spin double excitations are required.

### Steps to reproduce the problem

I faced this problem with triplet O2 molecule. For alpha orbitals there is o

[2021-02-16 21:56] woodsp-ibm opened #54 "Add 'frozen_extracted_energy' to BOPESSampler"
See also Qiskit/qiskit-aqua#1486

I did not transfer the issue since there is a PR with a pending fix. There is an issue around PH energy extracted too as I noted that is not catered to. Also with the chemistry code refactor here the 'fix' may end up looking different but whatever the refactor entails the current bug around the extracted energies needs to be corrected, hence this issue.

[2021-02-16 22:04] woodsp-ibm opened #55 "Hamiltonian Variational Form (TASP)"
See Qiskit/qiskit-aqua#703 which was a draft PR to added a Hamiltonian Variational Form (or Trotterized Adiabatic State Preparation, TASP) .

What might be nice to have is a base class for an ansatz that is built from evolving operators. Maybe this base class ends up in qiskit circuit library. It could potentially be used as base for QAOA ansatz, UCCSD etc. And also to provide an ansatz as per the

[2021-02-18 12:12] mrossinek commented on #53
Hi @MariaSapova! Sorry for the delay in responding.
I would like to see where the root of this problem lies. Can you please explain what you mean by the following:

I do not understand where exactly you copied that code *into*. I assume you replaced some part of the `GroundStateEigensolver` logic. Is that correct? If yes, where exactly did you plug the method from VQE in?

[2021-02-18 15:34] MariaSapova commented on #53
Hi @mrossinek! Thank you for your help.
I prepared a [gist](https://gist.github.com/MariaSapova/cbd2f1f823ed0910c2979101c3ddaa35) for you with a simple example. And also you can have a look at the [qeom case](https://gist.github.com/MariaSapova/0912242cfb0b6e344d86367330f5e94d). I  have rewritten the part of computing mean value, as in my example,  and this helped me to get correct matrix elements

[2021-02-18 16:59] mrossinek commented on #53
I don't think you are doing something wrong yourself. I really do think this is a bug which proves to be very difficult to track down right now because of all the code migration happening at the moment.
Could you explain in more detail how exactly you manage to get the correct QEOM results with your `compute_mean_value_qasm` function? I cannot seem to reproduce it and instead obtain the following

[2021-02-18 18:01] MariaSapova commented on #53
@mrossinek as for QEOM: I reproduced QEOM step by step and substituted the only thing --`evaluate_operators()` by `compute_mean_value` to get correct measurement_results.
![image](https://user-images.githubusercontent.com/71624472/108399674-6b0b6080-722b-11eb-9db4-dd60d1eed01c.png).

My code looks like:
![image](https://user-images.githubusercontent.com/71624472/108400254-0ef50c00-722c-11eb-8f8a-0

[2021-02-18 18:07] MariaSapova commented on #53
@mrossinek I will send you the notebook with QEOM, when I prepare it and check with the new version.

[2021-02-19 08:13] mrossinek opened #57 "Refactor UCCSD"
### What is the expected enhancement?

`UCCSD` needs to be refactored for several reasons:
- it is incompatible with the `VQE` implementation provided by Qiskit Terra
- it uses the (soon-to-be-removed) `FermionicOperator` class
- it uses the legacy `WeightedPauliOperator`

The following requirements should be met by the new implementation:
- it should derive `BlueprintCircuit` and, thus, be compat

[2021-02-19 08:24] mrossinek commented on #51
Hi @MariaSapova! In #57 I started to take some notes about `UCCSD`. Before the next release we need to refactor it and we will take your proposal from here into account while doing so :+1:

[2021-02-19 12:20] mrossinek commented on #57
I did some preliminary thinking on how one could implement a generic factory method to construct a list of excitation operators:
[code]

[2021-02-19 15:04] woodsp-ibm commented on #57
See also #55

[2021-02-19 21:51] woodsp-ibm commented on #57
I think additionally there is of other code being tested here that depends on FermionicOperator, which in turn depends on current Aqua repo for legacy operators. Since there are modules here that are not wanted maybe they, and their unit tests, could be deleted now (they exist in Aqua so they can be easily referred to if wanted). That would reduce a bunch of dependency on Aqua that does not exist

[2021-02-19 21:57] woodsp-ibm commented on #57
Given there is an active space transformer now; do we still want to keep the active space setting capability in UCCSD that further limits things. We had both in the past but it always seemed more efficient to remove the orbitals from the operator if they not used as it took less qubits. If its kept here maybe the way its expressed needs to look more like the active space transformer configuration?

[2021-02-19 22:03] woodsp-ibm commented on #57
For the hopping operator logic above, with num orbitials and num particles, this is akin to logic we used in the past where the occupancy was known to be the lower orbitals given they were arranged in order. As your active space transforms runs from an occupancy array, since you wanted to be able to have systems that did not fit the current occupancy assumption, then maybe we should be setting up

[2021-02-22 12:26] mrossinek commented on #57
I was going to suggest removing all of those once #49 is merged.

Yes, I consider these things linked.

Yes, that sounds like a good idea! Although we can also get a basic version with the current assumptions in place working first, and later on extend it to the more general case.

[2021-02-22 16:04] Cryoris commented on #57
Summarizing use cases from the discussion we had (modulo correct class and argument names):
[code]
and the proposed circuit structure:
[code]

[2021-02-22 16:47] #45 closed

[2021-02-25 11:33] mrossinek opened #64 "Disambiguate `num_orbitals`"
### What is the expected enhancement?

@Cryoris brought up the very good suggestion, that we should make an effort to disambiguate the commonly used `num_orbitals` keyword argument. This is used throughout a large part of the stack with either of the two meanings:
1. number of *molecular* orbitals
2. number of *spin* orbitals

Before releasing Nature, we should attempt an effort to clearly disambi

[2021-02-26 15:17] mrossinek commented on #57
@Cryoris and I started to look into the old code of UCCSD and figure out where everything needs to be moved in order to comply with the proposal above. We took notes in a separately shared Box Note of which I will include some screenshots below (its simpler than trying to reformat everything here).

First, an overview of the current init arguments and methods of the `UCCSD` class:
![screenshot_161

[2021-03-01 07:52] mrossinek commented on #47
I would like to discuss what we expect from another Hilbert space-reducing transformer. It is clear, that we do need another implementation because the `ActiveSpaceTransformer` (until now) does not support dipole moment operators.

Thus, I think we have the following requirements:
* support dipole moment operators
* reduce the Hilbert space to a specified set of orbitals
    * do we want this to b

[2021-03-01 16:06] woodsp-ibm commented on #47
What we had before could arguably be refactored and called an `OrbitalReductionTransformer` Yes documentation should distinguish this doing something like explaining that this removes occupied and/or unoccupied orbitals using an approximate solution as compared to the active space transformer, but unlike the active space transformer, the transformation transforms/retains the dipole integrals.

In

[2021-03-01 20:59] woodsp-ibm commented on #64
Yes, agree. Closer to the user problem where the end user was more likely to configure things we had leaned towards allowing them to think etc in MOs. As soon as we get to the operator then its block spin. Arguably MOs is a single number whereas perhaps spin ought to be a tuple, like the num particles, so if that were the case the type would help too, though of course naming is front and center

[2021-03-02 06:41] mrossinek commented on #64
Do you mean you would like `num_spin_orbitals` to be a tuple in order to easily differentiate the case of seniority zero or do you see another reason here?

[2021-03-02 16:29] mrossinek commented on #47
I started looking into this but made an observation which is contrary to my previous understanding of the freeze core implementation. @woodsp-ibm, maybe you can clarify a few things for me here.

I am not fully understanding what the code at https://github.com/Qiskit/qiskit-nature/blob/master/qiskit_nature/fermionic_operator.py#L589-L604 is doing. So far, I had assumed that the freeze core impleme

[2021-03-03 15:23] woodsp-ibm opened #70 "Refactor VibrationalProblem-related variational forms and initial state"
CHC is currently a VariationalForm. This should be refactored over to circuit/library as a BluePrint circuit

[2021-03-03 15:33] woodsp-ibm commented on #57
This refactor should also include the [UVCC](https://github.com/Qiskit/qiskit-nature/blob/master/qiskit_nature/components/variational_forms/uvcc.py) var form too right that was done for Bosonic Problems. I think the same EvolvedOp base class should be usable for this, but it needs bosonic hopping operators; so maybe we need to be careful about naming of the excitation and hopping logic above to di

[2021-03-03 15:38] woodsp-ibm opened #71 "Refactor HarteeFock initial state"
The interface needs changing since the way mappings are now specified is different. Maybe add some state mapping to the mappers in order to allow the HF state to be mapped accordingly. Maybe like the UCCSD proposal this can then take QubitConvertor since it needs also information related to any symmetry reduction of the main (Hamiltonian) operator of the problem.

[2021-03-03 22:33] HNK-coder opened #72 "support required for complex Hamiltonian in particle_hole_transformation"
The current function 'particle_hole_transformation'  (in qiskit-aqua/qiskit/chemistry/particle_hole.py) doesn't respect imaginary parts in a Hamiltonian given as an input argument.    Hamiltonian with complex amplitudes should be correctly supported.

[2021-03-03 22:34] woodsp-ibm commented on #72
I transferred from Aqua as Chemistry has been moved here for the next release with Aqua being deprecated.

[2021-03-04 15:19] woodsp-ibm commented on #64
In the prior FermionicOperator it would be possible to remove say the spin-down orbital but not the corresponding spin-up one so there are more spin up than down orbitals - I do not know if one needs to know, but if one did then a tuple would help ie (num spin up, num spin down). I know we do the particles this way, just wondering about doing it for the spin orbitals too. I do not know how seniori

[2021-03-04 16:21] woodsp-ibm commented on #47
There are two methods there `fermionic_mode_elimination` and `fermionic_mode_freezing` the former we used on unoccupied orbitals and they were simply removed, the latter on occupied orbitals, and an energy was extracted as the orbitals were removed. That much I think you know though. In terms of the detail of what the code does @antoniomezzacapo originally did that code and he may be able to give

[2021-03-12 15:49] mrossinek commented on #12
Mostly addressed in #60. Documentation will need to be checked for the whole repo before the release anyways.

[2021-03-12 15:49] #12 closed

[2021-03-12 15:49] mrossinek commented on #11
Mostly addressed in #60. Documentation will need to be checked for the whole repo before the release anyways.

[2021-03-12 15:49] #11 closed

[2021-03-12 15:49] mrossinek commented on #10
Mostly addressed in #60. Documentation will need to be checked for the whole repo before the release anyways.

[2021-03-12 15:49] #10 closed

[2021-03-12 15:50] mrossinek commented on #8
Since the `BosonicOp` will not exist in the originally proposed form, the implementation of this mapper will likely coincide with the `LinearMapper` (#7). Therefore, I am closing this as a duplicate thereof.

[2021-03-12 15:50] #8 closed

[2021-03-12 15:53] mrossinek commented on #13
Closed by #60.

[2021-03-12 15:53] #13 closed

[2021-03-12 15:55] mrossinek commented on #22
I am closing this because it was mostly addressed by #35. We will likely do a follow-up to that PR similarly as we did for the `FermionicOp`.

[2021-03-12 15:55] #22 closed

[2021-03-12 16:01] woodsp-ibm opened #82 "Finish the QubitConvertor implementation"
A first pass was merged with Z2Symmetry support, this should be added to the function, along with the two qubit reduction based on the mappers.

If we provide a mechanism to map state from its fermionic to qubit equivalent, as we need for HartreeFock, then this should be added and exposed on the Qubit convertor as a capability too based on the function of state mapping being added to and provided

[2021-03-12 16:15] mrossinek opened #83 "Integrate QubitConverter into the algorithm stack"
### What is the expected enhancement?

#60 added the `QubitConverter` which should be integrated into the algorithm stack.
The rationale is the following:

- In the past we had multiple keyword arguments on the `FermionicTransformation` (and elsewhere) which configured the `qubit_mapping` and `z2_symmetries`, etc.
- Now, we replaced these transformations with the `problems` module in which we only

[2021-03-12 16:21] mrossinek commented on #42
The last TODO of this issue will be addressed by #83.
Since that is decoupled from this, I am closing this issue.

[2021-03-12 16:21] #42 closed

[2021-03-16 10:20] mrossinek commented on #64
I cannot think of an application where this makes sense physically. Thus, I'd argue that the `int` for the number of orbitals is sufficient. @pbark what do you think?

[2021-03-16 13:26] #20 closed

[2021-03-17 06:48] #71 closed

[2021-03-17 11:07] mrossinek commented on #51
Hi @MariaSapova! We have made some progress on the refactoring of `UCCSD` in #66. Could you please confirm that the following fixes this issue?

The old `UCCSD` class produces the following list of double excitations for a system which matches your described scenario:
[code]

As you have described correctly, this is wrong. And in fact, `same_spin_doubles=False` produces an identical list.

Instead

[2021-03-17 11:38] MariaSapova commented on #51
@mrossinek what about pairs of excitations like [(5, 7), (6, 8)] and [(5, 8), (6, 7)]? Aren't they the same because electrons are indistinguishable?

[2021-03-17 12:18] mrossinek commented on #51
This is being dealt with later in the code :+1:

[2021-03-17 12:24] mrossinek commented on #51
Actually you are right, this is not being dealt with... Thanks for raising this! I will look into it right away :+1:

[2021-03-17 12:50] mrossinek commented on #51
Alright I just pushed a fix and the only new excitations are now the following:
[code]

[2021-03-17 14:29] MariaSapova commented on #51
@mrossinek Now it looks fine. I think the issue is solved. Thank you!

[2021-03-18 07:27] ikkoham commented on #82
Just FYI: for two qubit reduction, the converter is implemented [here](https://github.com/Qiskit/qiskit-terra/blob/master/qiskit/opflow/converters/two_qubit_reduction.py). This may be useful for your purpose.

[2021-03-18 21:42] woodsp-ibm commented on #82
@ikkoham Right thanks. Both the Z2Symmetry and the two qubit reduction are to be implemented based on the work you did to support that in opflow. We just need keywords here to enable that to be called or not as part of the conversion done here.

[2021-03-19 10:56] mrossinek commented on #48
We attempted an initial implementation of this in #86 but closed that PR due to the reasons explained in [this gist](https://gist.github.com/mrossinek/3cc65837d2a998856f202ef341e7f455). Adding this for documentation purposes here, too.

[2021-03-22 07:47] mrossinek opened #89 "Migrate MP2Info"
### What is the expected enhancement?

I already mentioned `qiskit_nature.mp2info` [here](https://github.com/Qiskit/qiskit-nature/pull/66#issuecomment-803277819) because it is still coupled to the old `UCCSD` implementation. Do we need this for the release next week?

@pbark @woodsp-ibm

[2021-03-22 07:54] mrossinek commented on #72
Hi @HNK-coder! Thanks for raising this issue!
As you may have noticed, we are actively working on a larger refactoring of the code during which your issue has been migrated to a new repository. Last week @pbark and I were looking into the migration of the particle-hole transformation (see also #86).
For the upcoming release we do not plan to support the particle-hole transformation because (as you

[2021-03-22 07:58] mrossinek commented on #70
In fact, once #79 and #66 are merged, we need to migrate all vibrational-related variational forms and initial states. These are:
- [ ] `VSCF`: straight forward like `HartreeFock` (see also #85)
- [ ] `UVCC`: preparations are being done in #66. However, this requires the `VibrationalSpinOp` from #79.
- [ ] `CHC`: should also be rather straight forward because this is already a `QuantumCircuit`. I

[2021-03-22 08:04] mrossinek commented on #55
Hi Steve! To what degree do we cover this in #66? Can we consider that PR to also be closing this issue? Or do we need/want another (potentially very similar) class which implements the proposed `TASP` in a form where you pass in any operator which will be evolved? @Cryoris this is probably what the `EvolvedOpAnsatz` does to a large degree, correct?

[2021-03-22 08:56] mrossinek commented on #54
I have a fix in mind as mentioned [here](https://github.com/Qiskit/qiskit-aqua/pull/1490#issuecomment-803884976).
We can address this once #83 is closed (or in the process of doing so).

[2021-03-22 12:28] mrossinek opened #91 "Implement an equivalent to legacy `succ_full` option"
### What is the expected enhancement?

The [legacy `UCCSD`](https://github.com/Qiskit/qiskit-aqua/blob/main/qiskit/chemistry/components/variational_forms/uccsd.py) implementation had a `method_doubles="succ_full"` option which is not yet implemented in Qiskit Nature.
This option is a variant of the (now named) `SUCCD` option which also includes symmetrically mirrored double excitations, however, u

[2021-03-22 12:36] pbark commented on #89
Also discussed in PR #66 , we should keep this since this calculation should be easy to do and provide good initial estimates.

[2021-03-22 12:40] HNK-coder commented on #72
Years ago, I was also disappointed to notice that the normal order operation resulted in just a shift in the amplitude of the identity operator in Pauli space.  Classical optimization gets faster, as you mentioned, but nothing else.   I thought that there must have been an advantage even in Pauli space.
Anyway I will manege by myself.
Take your time.

[2021-03-22 13:51] mrossinek commented on #89
To clarify: this will not be outright removed. It's refactoring is just postponed until a feature release in the future.

[2021-03-22 13:56] mrossinek commented on #23
While we did not strictly implement the `BosonicOp` as described by this issue, we did finish most of the work on the `SpinOp` as part of #68. There is also the `VibrationalSpinOp` variant of this class which will shortly be merged as part of #79. Thus, I am closing this issue.

[2021-03-22 13:56] #23 closed

[2021-03-22 14:41] mrossinek commented on #44
Closed by #79

[2021-03-22 14:41] #44 closed

[2021-03-22 16:02] woodsp-ibm commented on #89
If we still want it somewhat usable one could copy the old excitation computation code from UCCSD and paste it in the MP2Info for now - later it could be refactored and use some common excitation code that is shared with the current UCCSD

[2021-03-22 16:12] mrossinek commented on #89
The code that would be necessary is the most-refactored part of the code. Copying that over is by no means what we should go for here. If you really deem it necessary to be included I can make a push for it on the weekend but I don't see it used anywhere (not even in the tutorials as far as I can tell).

[2021-03-22 16:12] #47 closed

[2021-03-22 18:55] woodsp-ibm commented on #55
I think that #66 should cover it. I made comment about initial_state in `EvolvedOperatorAnsatz` but as you say that looks it would accommodate what was shown in that draft PR raised on Aqua.

[2021-03-22 22:07] woodsp-ibm commented on #89
The mp2info code is not used anywhere. There was a test for it but it was never used by any tutorials or anything. Just left for the user to experiment with since you could compute the coeffs and then use them say with UCCSD. Though as I have mentioned before we were never able to set it such that the resultant energy was the MP2 energy value.
I only suggested copying the excitation code over sinc

[2021-03-23 07:05] mrossinek commented on #89
Yes the old excitation code is no longer compatible.

[2021-03-23 07:15] mrossinek commented on #26
Since this issue has not been updated in view of the recent major refactorings, I would like to summarize some thoughts and changes that will need to happen to the original proposal.

#### 1. HF Embedding

This is now available in Qiskit Nature in the form of the `ActiveSpaceTransformer`.

#### 2. PySCFDriver Refactoring

The concept of Qiskit Nature's drivers needs to be properly designed and tho

[2021-03-25 09:58] #51 closed

[2021-03-25 09:58] #55 closed

[2021-03-25 09:58] #57 closed

[2021-03-25 13:25] #64 closed

[2021-03-26 07:12] mrossinek commented on #7
Closed by #92

[2021-03-26 07:12] #7 closed

[2021-03-27 13:15] #82 closed

[2021-03-27 18:03] #70 closed

[2021-03-31 14:10] mrossinek commented on #4
Since the overall design is no longer an open discussion and the last update of this thread is out-of-date again I am closing this issue now.

[2021-03-31 14:10] #4 closed

[2021-03-31 14:13] mrossinek commented on #18
All mappers which will be part of the upcoming release are finished. The remaining ones will be tracked in their own issues:
- `BKSF`: #9
- `Logarithmic`: #6

Thus, I am closing this broader issue in favor of these other ones.

[2021-03-31 17:51] #54 closed

[2021-03-31 17:51] #83 closed

[2021-03-31 21:22] mrossinek commented on #52
I investigated this bug together with @Cryoris again today but we have not been able to track down the exact cause of it yet.. We opened a PR to fix a sub-issue of this but I am afraid a fix for this issue will not make it into the upcoming release.
I will revisit this again in more detail later.

[2021-04-01 09:38] #53 closed

[2021-04-01 16:19] woodsp-ibm opened #111 "Increase coverage of Qiskit Nature by tutorials"
There are aspects of Qiskit Nature that are not covered by the present set of tutorials. It would be good to expand the coverage of the function. Here are areas that come to mind

* The new operators and how to use them
* AdaptVQE tutorial
* One on UCC ansatz showing examples of how to set up/use
* Transformers such as active space and freezecore
* Some on drivers (I had done some which were in co

[2021-04-01 17:25] #110 closed

[2021-04-02 10:50] nonhermitian opened #113 "Doc tutorials are broken"
See: https://qiskit.org/documentation/nature/tutorials/index.html

[2021-04-02 21:03] manoelmarques commented on #113
Theme is fixed now

[2021-04-02 21:39] #113 closed

[2021-04-05 20:54] woodsp-ibm opened #117 "Migrate `EvolvedOperatorAnsatz` and `StarAlgebraMixin` to Terra"
The evolved_operator_ansatz  is a generic ansatz based on evolution of opflow operators. As such it would make more sense to have this in Terra, as part of the core circuit library, as it has potential for broader use

https://github.com/Qiskit/qiskit-nature/blob/master/qiskit_nature/circuit/library/ansatzes/evolved_operator_ansatz.py

Update: I noticed now the StarAlgebraMixin which I think is al

[2021-04-06 16:27] woodsp-ibm opened #119 "Update Installation Instructions"
When chemistry was part of Aqua, and Aqua installed by default with qiskit, PySCF was changed to an optional install since it would otherwise install for everyone and some people had problems with their installation and did not even want to use chemistry function.

Given that chemistry is part of nature here, and you still might want to install it for physics or other aspects, maybe leaving PySCF

[2021-04-06 16:37] mtreinish commented on #119
I'm generally in favor of making it a requirement, except in pyscf's case specifically there have been several packaging issues over the years which have made it particularly problematic. The biggest of these is that there are no windows wheels available (and no convenient source based installation option for windows users) which means users on windows will not be able to install pyscf unless we s

[2021-04-06 16:57] woodsp-ibm commented on #119
This was always the case and what we did do, not much choice here. The chemistry programs like PySCF and PSI4 don't do Windows; there is only PyQuante, which is quite limited and only has a conda pkg, or the commercial product Gaussian.

Given that Nature is predominately chemistry, the rationale of installing it was that you could do chemistry out of the box. Otherwise you have to also do an opti

[2021-04-06 17:17] woodsp-ibm commented on #119
Thinking about this and informing the users, in the past we used to have more around install. I note that, the docs here, we have an API ref, release notes and tutorials but no installation material specific to this that would note/reference to driver installation material etc. So at least I think we need this, and maybe this can be referenced from the main install of qiskit, as it makes sense, li

[2021-04-12 06:33] mrossinek opened #122 "Fix the scheduled CI runs"
### What is the current behavior?

The scheduled CI runs which execute the `slow_test`s has been failing for the past 10 days.
The failing tests are the following:
[code]
Although the Aer test passes in some CI runs.

### Steps to reproduce the problem

Nothing special to do. Just run the `slow_test`:
[code]

### What is the expected behavior?

The tests should pass.

### Suggested solutions

We n

[2021-04-12 06:39] mrossinek commented on #117
I agree that this sounds like a good idea!

@ikkoham I remember you had brought this up for `StarAlgebraMixin` back when you started working on this. Could you take care of this?

@Cryoris Shall we do this in a single PR or would you like to migrate `EvolvedOperatorAnsatz` separately?

[2021-04-12 06:45] mrossinek commented on #9
I would like to point out the proposed re-design of the mappers in terms of "label-translators" as explained here: https://github.com/Qiskit/qiskit-nature/issues/18#issuecomment-773494151

I am not sure that it is worth opening another issue to propose a refactoring of the mappers but this will likely be the necessary implementation approach for the `BKSF` mapper. When this issue gets tackled we c

[2021-04-12 06:50] mrossinek opened #123 "Refactor `AdaptVQE` to leverage opflow gradients"
### What is the expected enhancement?

The adaptive VQE was originally implemented in Qiskit Aqua as the outcome of the Qiskit Hackathon Europe 2019, [link](https://github.com/Qiskit/qiskit-aqua/pull/685). Since then, it has already been refactored multiple times during the migration to the `GroundStateEigensolver` interface and later transition to Qiskit Nature.

As it stands today, it still perf

[2021-04-12 06:55] mrossinek opened #124 "Refactor `ooVQE`"
### What is the expected enhancement?

The `ooVQE` did not make it into the last release because it needs to undergo a major refactoring to fit into the framework of Qiskit Nature. The most up-to-date (but WIP) version of `ooVQE` can be found [here](https://github.com/dlasecki/qiskit-nature/blob/23e1fc77347968c1ae7bdfd3f5ce264ca705bf6a/qiskit_nature/algorithms/ground_state_solvers/orbital_optimiza

[2021-04-12 07:00] mrossinek opened #125 "Update the Unittest Suite"
### What is the expected enhancement?

The test suite has been mostly adopted from Qiskit Aqua's chemistry module. Although it was split into logical modules, it still requires some updates like:
- [ ] proper usage of the `slow_test` decorator
- [ ] removing redundant tests

Furthermore, many tests are more _integration_ tests rather than _unit_ tests. To some degree this will always be the case b

[2021-04-12 11:20] Cryoris commented on #117
I think 2 might be better since these aren't really related and it keeps the history cleaner. I can take care of the `EvolvedOperatorAnsatz`.

[2021-04-12 14:03] woodsp-ibm commented on #122
The second test listed `test_uccsd_hf_aer_qasm` for me works if I swap the SPSA optimizer for the old one. @Cryoris was going to check whether the default behavior of SPSA changed in the recent update/refactor of it. I tried changing maxiter to see, if it was a difference was there a different value that would pass the test - while I found a value it seemed to oscillate between passing and failing

[2021-04-13 12:01] LaurinFischer opened #128 "FermionicOp gives unwanted ValueError when initialized with list of sparse labels"
### Information

- **Qiskit Nature version**: 0.1.0
- **Python version**: 3.9.2
- **Operating system**: Windows 10

### What is the current behavior?
When initializing a `FermionicOp` from a list of sparse labels, which all have indices in ascending order themselves, a `ValueError` is still being raised.

### Steps to reproduce the problem
```op = FermionicOp([('+_0 -_1', 1.), ('-_0 +_1', -1.)], r

[2021-04-13 12:01] LaurinFischer opened #129 "General methods for second quantized operators"
### What is the expected enhancement?

There is some general functionality which would be nice to have for all types of second-quantized ops:

1. Checks for hermiticity of an operator (Is the operator equivalent to its adjoint)?
2.  A direct way to compute commutators, and checks for commutativity.
3. I think it would be nice to also have a `.to_matrix` method for the `FermionicOp` as is already i

[2021-04-13 12:17] mrossinek commented on #129
@ikkoham Would you also be willing to look into these suggestions?

The sparse-matrix suggestions could be tied into a separate tasks of restructuring the operators to an internal sparse representation.

[2021-04-13 14:22] pbark opened #130 "driver-refactor"

[2021-04-13 14:36] ikkoham commented on #128
Thank you for your report of the bug.
The work around until next release is
[code]
or
[code]

I'm sorry for the inconvenience..

[2021-04-13 15:03] LaurinFischer commented on #128
Thanks for the workarounds, these work great. 👍 And no worries!

[2021-04-13 22:26] woodsp-ibm commented on #122
Turns out I did not set the random seed for aqua when using this SPSA from Aqua. It worked fine, and again today, but I noticed it things were changing between runs on intermediate values. Setting the same seed, 700, and it fails. Now I can get the test to pass by changing the seed to 56 (just was one value that worked). I am double checking other aspects before making any change here but I think

[2021-04-14 19:49] #128 closed

[2021-04-14 20:34] #29 closed

[2021-04-15 12:45] ikkoham commented on #129
Thank you for nice suggestion.

`SecondQuantizedOp.is_hermite() -> bool` is nice!

We have two choices.
1. `SecondQuantizedOp.is_commutative(op: SecondQuantizedOp) -> bool`
2. `commutator(op1: SecondQuantizedOp, op2: SecondQuantizedOp).is_zero()`. I've made this in opflow.

The basis of`FermionicOp.to_matrix()` isn't trivial as you said. Which basis is convenient for chemistry users?

Nice. See ht

[2021-04-15 14:25] LaurinFischer commented on #129
Thanks for the reply!

For chemistry applications the total number of particles should always be conserved and the second-quantized Hamiltonian of molecules is also spin-conserving. However, for other applications such as fermionic lattice-problems in condensed matter physics, it would also be desirable to keep the particle-number and spin-number flexible.

I have recently been working on such pro

[2021-04-19 06:44] ikkoham commented on #129
I think if FermionicOp `A` and FermionicOp `B` are different, `A.to_matrix()` and `B.to_matrix()` must be different, and vice versa.

[2021-04-19 09:32] t-imamichi opened #144 "Solution samples"
Add new features for solution samples and write tutorials about how to use solution samples.

[2021-04-19 09:35] t-imamichi commented on #144
Sorry. I made this by mistake.

[2021-04-19 09:35] #144 closed

[2021-04-20 09:23] pbark commented on #129
@LaurinFischer  thanks a lot for your interesting suggestion here. I believe that expressing the FermionicOp to matrix is important for the general basis in Fock Space (what you described as a `basis_general`). Restricting to certain number of particles (or spins) will require the use of projectors applied in the general Fermionic Operator that may be a bit of overhead here. @ikkoham I think that

[2021-04-21 09:13] mrossinek commented on #17
Converting this to an Epic for the planning of the upcoming release.

[2021-04-21 09:25] pbark commented on #18
Reopening the issue for planning and making it an Epic

[2021-04-21 12:17] pbark commented on #111
I converted this issue to an epic, so that we can start populating with the different tutorials and issues for the planning of the upcoming release.

[2021-04-21 12:20] pbark opened #147 "Driver-refactoring Design"
The drivers have remained mostly unchanged during the past releases and require some updates before more complex workflows (such as those proposed by #26) can be implemented.
We have defined a few tasks which should be tackled as part of this refactoring.

## Extraction of a `MoleculeDriver`
The introduction of the `Molecule` object introduced a concept of a parameterized-input for those drivers,

[2021-04-21 12:21] pbark commented on #147
We would like to streamline the interface of drivers and follow up a design that is modular and extensible towards future applications. This issue can be used to discuss and elaborate on these points.

[2021-04-21 12:22] pbark opened #148 "QMolecule Design"
Aligned with the drivers refactoring we need to converge to a new design for the QMolecule

[2021-04-21 12:25] pbark opened #149 "Sampling Problems"
We should introduce the notion of sampling problems and create the sampling problem interface.

[2021-04-21 12:27] pbark opened #150 "Protein Folding Design"
Protein folding as the first problem in the sampling problems class. We should design the problem and propose an implementation that will follow up.

[2021-04-21 12:31] pbark opened #151 "Operators Open Points"

[2021-04-21 12:54] ikkoham commented on #117
For `StarAlgebraMixin`, we need to dicsuss whether we should adopt [qargs](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/quantum_info/operators/mixins/group.py#L116) or [permutation](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/opflow/operator_base.py#L580).

[2021-04-21 14:04] #122 closed

[2021-04-21 14:06] mrossinek commented on #117
Based on what did we go with `permutation` before?

If the reason for the above is not (or no longer) valid/applicable, I agree that we should adopt the current way of how things are done in Terra :+1:

[2021-04-22 15:42] mrossinek commented on #119
We have had some more discussion offline and, if I recall correctly, we have come to the conclusion to keep PySCF as an optional install (for the time being), correct @woodsp-ibm?

[2021-04-22 17:19] woodsp-ibm commented on #119
Yes. I had left this open as a reminder to augment the new documentation around installation - we used to have top level text or around optional element with links down to the install information. The latter text still exists in the drivers around installation what it's currently missing is some top level 'getting started' information around the optional install, that 'adds' to the getting started

[2021-04-23 21:34] woodsp-ibm opened #153 "Two Qubit Reduction sample with UCCSD fails with missing Z2_symmetries argument"
The following error results when running the code sample that follows. Run with `two_qubit_reduction=False` on the convertor and it works fine. I think the problem is more likely in the code in Terra, but since most of the sample is nature I raised it here but it can be transferred to Terra if it indeed turns out to be where the problem needs fixing.
[code]
Here is the code sample to reproduce the

[2021-04-23 21:39] mrossinek commented on #153
Seems to be a duplicate of this issue: https://github.com/Qiskit/qiskit-terra/issues/6127

[2021-04-28 09:47] dlasecki commented on #150
Here is a draft of Protein Folding Design. Feedback is welcome.

![Protein folding (2).png](https://images.zenhubusercontent.com/606c28a45aab8780f8196161/1381d56f-3e05-4dbc-ad40-2ad98a34fa0f)

[2021-04-28 11:44] mrossinek commented on #147
With the updated description of this issue above, I propose to convert this issue into an Epic after everyone had time to review it. I will create separate implementation-oriented issues for all subtasks which can then be assigned to sprints in order to gradually close this (then) Epic.

Here are the proposed implementation subtasks:
- extract `MoleculeDriver` (potentially with `Fermionic` and `Bo

[2021-04-28 11:51] mrossinek commented on #148
With the updated description of this issue above, I propose to convert this issue into an Epic after everyone had time to review it. I will create separate implementation-oriented issues for the three mentioned subtasks which can then be assigned to sprints in order to gradually close this (then) Epic.

I would like to stress the benefit of the proposed step-by-step implementation again, because i

[2021-04-28 12:02] mrossinek commented on #150
I think this design looks quite good!

Since this will lead to a new module parallel to `qiskit_nature.problems.second_quantization` it may be useful to also show a pseudo-code which shows the workflow of this module. Most notable will be the lack of using a `driver`, any `transformers` and (although internally) the `qiskit_nature.operators`.
<details>
<summary>
See also a point about the driver d

[2021-04-28 12:18] mrossinek commented on #153
Once https://github.com/Qiskit/qiskit-terra/pull/6315 is merged we need to remove [this line](https://github.com/Qiskit/qiskit-nature/blob/main/test/algorithms/ground_state_solvers/test_advanced_ucc_variants.py#L37) in order to close this issue.
While validating the fix of the PR in Terra I noticed that we can probably also remove the `@slow_test` decorators because these tests aren't actually tha

[2021-04-29 09:14] dlasecki opened #158 "Include opflow in Protein Folding PoC."

[2021-04-29 19:28] woodsp-ibm opened #159 "FermionicTransformation is still found in code docstrings"
In vqe_ucc_factory it appears in docstrings which end up as user API ref. docs/

https://github.com/Qiskit/qiskit-nature/blob/48ede57feb36c720f576f390e77bab0eb367c470/qiskit_nature/algorithms/ground_state_solvers/minimum_eigensolver_factories/vqe_ucc_factory.py#L171-L172

https://github.com/Qiskit/qiskit-nature/blob/48ede57feb36c720f576f390e77bab0eb367c470/qiskit_nature/algorithms/ground_state_sol

[2021-04-30 11:42] LaurinFischer commented on #129
Okay so in summary, I think what we want to implement is:

- [ ] Hermiticity checks for all SecondQuantizedOps `SecondQuantizedOp.is_hermite() -> bool`

- [ ]  A way to compute commutators such as `commutator(op1: SecondQuantizedOp, op2: SecondQuantizedOp).is_zero()`

- [ ] `.to_matrix()`-method for `FermionicOp` over the full Fock basis

- [ ] scipy.sparse representations of the matrices for `Fer

[2021-04-30 12:46] pbark commented on #129
Thanks @LaurinFischer . I think the easiest would be if I convert this issue to an epic and you can make the related issues. We can chat and see how this fits with your bandwidth and also with @ikkoham so that we can assign this issues in one of the upcoming sprints. I will now transform this to an epic and add #161.

[2021-04-30 12:50] pbark commented on #129
Hi @LaurinFischer, thanks! I think the best would be if I make this to an epic and you add the related issues. Then we chat with @ikkoham  and depending on your bandwidth we can assign the issues to the upcoming sprints.

[2021-04-30 17:29] anhph opened #163 "Having problem to use Freeze core function"
### Information

- **Qiskit Nature version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
when apply FreezeCoreTransformer to driver, and pass it to ElectronicStructureProblem, the problem second_q_ops doesn't work

### Steps to reproduce the problem
[code]
gives
[code]
### What is the expected behavior?

### Suggested solutions

[2021-05-03 14:09] marcomajland opened #164 "Compact encoding algorithm for vibrational UCC"
### What is the expected behavior?
Dear Qiskit

In the current implementation of the vibrational UCC ansatz to compute bosonic energy spectra in quantum chemistry (Ollitrault, et. al, https://arxiv.org/abs/2003.12578), a direct encoding protocol is utilized. Recently, I have developed two novel encoding strategies which enable a more compact encoding approach. These strategies allow for polynomial

[2021-05-04 14:32] woodsp-ibm commented on #163
@anhph Did my suggestion solver your issue? If so please go ahead and close this.

[2021-05-04 14:42] mrossinek opened #165 "Extract `MoleculeDriver`"
### What is the expected enhancement?

As part of #147 I propose to extract the common `Molecule`-based driver initialization into a separate driver implementation. As suggested in the initial proposal, this could look similar to the following:
[code]
More details will need to be figured out as we proceed with the actual implementation in the upcoming weeks.

[2021-05-04 14:46] mrossinek opened #166 "General Driver Updates"
### What is the expected enhancement?

#147 also suggest some general improvements to the drivers. The implementation of these is tracked by this issue:

- [x] relocate `qiskit_nature.drivers.*` into `qiskit_nature.drivers.second_quantization.*`
- [x] relocate `qiskit_nature.transformers.*` into `qiskit_nature.transformers.second_quantization.*`
- [x] check the "file"-based drivers for general imp

[2021-05-04 14:46] anhph commented on #163
Yes. Thanks a lot.

[2021-05-04 14:46] #163 closed

[2021-05-04 14:56] mrossinek opened #167 "Implement modular `Property` classes (a containerized `QMolecule`)"
### What is the expected behavior?

As proposed in #148 I suggest an implementation of a `Property` object which "modularizes" the contents of the `QMolecule` class. As such, these properties would centralize a number of data-specific logic currently spreading into the stack (most notably the builders, integral calculators and result interpreters present in the `problems` module).

The initial imp

[2021-05-05 08:16] mrossinek commented on #153
Closed by Qiskit/qiskit-terra#6315

[2021-05-05 08:16] #153 closed

[2021-05-06 19:47] anhph opened #174 "Charge density"
### What is the expected behavior?
Is there anyway to extract the charge density from the electronic ground state from VQE run ?

[2021-05-07 15:35] mrossinek commented on #148
As part of #173 we discussed the possibility to further split `qiskit_nature.drivers.second_quantization` into:
[code]
As such, renaming `QMolecule -> ElectronicDriverResult` and `WatsonHamiltonian -> VibrationalDriverResult` would come very naturally. However, we decided to postpone this until we have a clearer picture of how the implementation of this issue will affect the drivers. Thus, this sh

[2021-05-12 08:18] paulineollitrault commented on #164
Hi Marco, thanks for opening this issue!
Here is how you should proceed:
1. write the code as a new mapper on the model of the direct_mapper: https://github.com/Qiskit/qiskit-nature/blob/main/qiskit_nature/mappers/second_quantization/direct_mapper.py
2. write the corresponding test
3. open a Pull Request. The code will then be reviewed by us.
4. write a release note

[2021-05-12 09:00] mrossinek commented on #117
Thanks @Cryoris for getting started on this!

@ikkoham could you tackle the `StarAlgebraMixin` within the next week, too?

[2021-05-12 12:01] mrossinek commented on #165
While starting a prototype of this implementation I ran into the following inconsistency/problem.

The `BaseDriver` has an `hf_method` init-argument which is supposed to be of type `str` ([1][]).
However, all driver implementations which actually use (PySCF, Psi4, pyquante, Gaussian) expect an `HFMethodType` ([2][]) for this field (e.g. [3][]).
The only case where this is simply initialized with a

[2021-05-12 12:14] mrossinek opened #188 "Ensure compatibility with Sphinx 4"
### What is the expected enhancement?

Sphinx 4 introduced some new warnings which caused or CI to fail once it was able to upgrade Sphinx to this version.
Some of our dependencies still rely on Sphinx < 4 which is why #187 pins the version anyways.

Nonetheless, this issue should be used to track the progress on resolving all warnings raised by the new Sphinx version.

[2021-05-12 22:10] woodsp-ibm commented on #165
It was most likely done as a string in the base class so as not to limit the method their for the future. We already has the enum on PyQuante and PySCF, as part of their native config, but it was added to PSI4 and Gaussian to enable them to be configured as a Molecule (method for their native config is passed as part of their native config). I though the intent was to have a MoleculeDriver that wo

[2021-05-13 12:59] obliviateandsurrender opened #190 "Understanding the difference in qubitOp's minimum eigenvalue and qmolecule's hf_energy"
### Information

- **Qiskit Nature version**: 0.1.2
- **Python version**: 3.8.5
- **Operating system**: Linux Mint

### What is the current behavior?

When I want to make a small molecule, for example say, H<sub>2<sub>, I first build its qmolecule and then its qubitOp:
[code]
Now, when I compare the eigenvalue of the qubitOp, and the Hartree-Fock energy of the qmolecule, they come out to be differ

[2021-05-13 13:57] woodsp-ibm commented on #190
The Hartree Fock energy is that of the Hartree Fock state which is an approximation to the solution state but it will be above the true value as its an approximation that does include some aspects of the system. You can find more about the HartreeFock method if you search online.

What we create is an operator whose minimum Eigenvalue is the FCI energy value (Full Configuration Interaction) of the

[2021-05-13 14:43] obliviateandsurrender commented on #190
Interesting. I do know about the Hartree-Fock method, but I didn't realize that the operator (qubitOp) created in Qiskit actually corresponds to the FCI value. All of the deviations make complete sense now. Thank you for your prompt response.

[2021-05-13 14:43] #190 closed

[2021-05-14 09:18] ikkoham commented on #117
got it.

[2021-05-18 12:21] mrossinek commented on #165
I understand :+1: But I don't fully see what you are proposing..

I agree, that the `BaseDriver` will be stripped from any references to `Molecule` and therefore will return (at least partially) to what it used to be. With the `MoleculeDriver` being extracted it will require the following inputs:
[code]
Ideally, we could even remove the entire need for `driver_kwargs` and instead (if the user has

[2021-05-18 17:21] #119 closed

[2021-05-19 12:39] mrossinek opened #192 "The `FreezeCoreTransformer` is incompatible with the automatic `Z2Symmetry` reduction"
### Information

- **Qiskit Nature version**: `master`
- **Python version**: 3.9.4
- **Operating system**: Linux

### What is the current behavior?

The `FreezeCoreTransformer` (and `ActiveSpaceTransformer`) is incompatible with the automatic `Z2Symmetry` reduction because of a mismatching size of the internally constructed HF bitstring (`ElectronicStructureProblem.symmetry_sector_locator`).

###

[2021-05-19 14:02] #192 closed

[2021-05-20 10:27] Brogis1 opened #198 "`ElectronicStructureResult` throws error when printed and dipole moments not summed properly."
### Information

- **Qiskit Nature version**: `main`
- **Python version**: 3.7.10
- **Operating system**: MacOS

### What is the current behavior?

The `ElectronicStructureResult` throws an error when attempting to print it.

Problems:
1) Division of a `None` by a number.
2) Total dipole moment displays `None` if any elements of dipole moments are `None`.

### Steps to reproduce the problem

Run t

[2021-05-21 05:48] dlasecki opened #200 "Create a UML diagram for VarQBM"

[2021-05-25 14:48] Ciamar opened #207 "Type error when the wrong number of electrons is used in ActiveSpacetransform"
### Information

- **Qiskit Nature version**: 0.1.3
- **Python version**: 3.8
- **Operating system**: Windows 10 / jupyter notebook

### What is the current behavior?

In ActiveSpaceTransformer, when there is an error in number of electros, instead of raising a QiskitNatueError, there is a type error that appears to be because of a missing int to str conversion

### Steps to reproduce the problem

[2021-05-25 21:39] woodsp-ibm commented on #188
I just built the html using the latest Sphinx 4.0.2 and it built more or less fine, just one problem mentioned below, not a whole bunch of warnings as had been seen/reported. (FYI sphinx-panels, that we now depend on, though its pinned for < 4, works with 4 ok - there is a PR in fact for it to change the pinning but its not been released yet). Now this is building whatever is current in main branc

[2021-05-26 08:53] mrossinek commented on #117
Migration complete :tada:

Now we need to deprecate the migrated classes here in Terra :+1:

[2021-05-28 08:44] marcomajland commented on #164
Thanks a lot. I have re-written the code to conform to the standards of the direct mapper. I am a bit unsure of how I should generate the reference Hamiltonian for the test. Are the references for the other second quantization mappers generated by hand?

[2021-05-30 10:26] HNK-coder opened #218 "The order of the auxiliary operators returned from ElectronicStructureProblem.second_q_ops disagrees with doc description."
### Information

- **Qiskit Nature version**: latest
- **Python version**: don't care
- **Operating system**: don't care

### What is the current behavior?

The order of the auxiliary operators returned from ElectronicStructureProblem.second_q_ops disagrees with doc description.
The doc says, "
        Returns:
            A list of `SecondQuantizedOp` in the following order: electronic operator,

[2021-05-31 12:06] divshacker opened #219 "Search Function not working for Qiskit Nature"
### Information

- **Qiskit Nature version**: NA
- **Python version**: NA
- **Operating system**: NA

### What is the current behavior?
The Search Function of Qiskit Nature is not working.

### Steps to reproduce the problem
Just go to this https://qiskit.org/documentation/nature/ and type anything you want to search.

### What is the expected behavior?
It will not work as expected.

### Suggested

[2021-05-31 14:55] divshacker commented on #219
Well then I think there is no point in opening this issue now. I am closing this and consider this discussion further on Qiskit/qiskit#1223.

[2021-05-31 14:55] #219 closed

[2021-06-01 20:06] mrossinek commented on #165
My focus was shifted to #167 in favor of this issue. Making that issue my higher priority, I will shift this PR towards a Sprint later this month.

[2021-06-01 20:13] mrossinek commented on #166
With #173 nearing its merging and #180 following suite shortly after, two major (and the most important) steps of this issue will be addressed soon. None of the other drivers are technically high priority right now because none of them immediately block other implementations planned in the near future.
Nonetheless, all driver codes should be checked in order to determine what kind of updates are p

[2021-06-01 20:20] mtreinish commented on #219
Fwiw, this issue should be fixed by https://github.com/Qiskit/qiskit_sphinx_theme/pull/34

[2021-06-02 07:13] pbark commented on #174
Hi @anhph , thank you for your question. We currently do not support charge density calculations in qiskit-nature. If you are interested to implement such a calculation you are very welcome.

[2021-06-02 09:55] mrossinek commented on #207
Thanks @Ciamar for finding this! I just opened a PR to fix this :+1:

[2021-06-02 10:22] #207 closed

[2021-06-02 10:26] mrossinek commented on #218
Hi @HNK-coder, thanks for raising this issue! This was actually recently addressed on the `main` branch by #208.
The online documentation will be updated with the next release.

[2021-06-02 10:26] #218 closed

[2021-06-04 07:31] mrossinek commented on #117
Since @ikkoham's part is merged now, I leave @Cryoris assigned to this issue. We had some pointers in #210 with regards to the `EvolvedOpAnsatz` but it appears as though it needs some extra care.
Can you take a look at this before the end of the month?

[2021-06-04 13:50] woodsp-ibm opened #224 "Removal of Legacy FermionicOp"
#201 reworked the internal data of FermionicOp and the original is being kept for a short while as operators/second_quantization/legacy_fermionic_op.py - but the intent is to remove that ahead of the next release. This is just to track that so we ensure its done ahead of the release.

[2021-06-08 09:48] liwt31 opened #225 "Possiblly a bug in the README sample"
### Information

- **Qiskit Nature version 0.1.3**:
- **Python version 3.7**:
- **Operating system Linux**:

### What is the current behavior?
[code]
This line probably does nothing because by default `compose` is not in place as of qiskit version 0.17.4

### Suggested solutions
Change the line to
[code]

[2021-06-08 10:31] dlasecki opened #226 "Migrate Protein Folding PoC with opflow to a new design."

[2021-06-08 14:19] woodsp-ibm commented on #225
That line you indicate indeed has no consequence on the subsequent code. Either the returned circuit needs to be used in VQE or as you suggest use inplace=True to alter the ansatz cct itself.

There is a unit test that checks the outcome of the readme code `test/test_readme_sample.py` that needs to stay in sync with whatever change is done too.

[2021-06-08 14:25] woodsp-ibm commented on #226
How does this relate to #158? Is that done as such, that whatever outcome is being redesigned? And I guess this is all being done under #150 which may could become an Epic with this and #158 as sub-parts of that?

[2021-06-09 13:00] #150 closed

[2021-06-12 12:55] shil-m commented on #225
Hi, I am new to contributions but I would like to work on this issue. Can I be assigned?

[2021-06-12 16:39] woodsp-ibm commented on #225
Done - thank you for offering to look at this.

[2021-06-13 14:48] #225 closed

[2021-06-16 02:05] jlapeyre opened #233 "`FermionicOp.set_label_display_mode` affects construction of operator"
IIUC,  `FermionicOp.set_label_display_mode` should only affect printing. But, in fact it seems to affect interpreting labels in some way.

This works fine:
[code]

However, if I change the string `'dense'` to `'sparse'`, then the script raises an error like this:
[code]

#### Versions

qiskit_nature: a0f4c7bb3
qiskit-terra: 0df56b345b

[2021-06-16 02:25] jlapeyre opened #234 "Big performance regression with new `FermionicOp`"
I am using this code:
[code]
Then, after the change of internals, with a0f4c7bb , I get this:
[code]

However, before the rewrite of internals 9f75adc, I get this:
[code]

If I use `basis1` (631g) above, then the time before the change is 4s. The time after the change is longer than several minutes; I killed the process.

[2021-06-16 05:12] dlasecki opened #235 "Implement xyz chemistry file generator."
Based on the old code.

[2021-06-16 05:13] dlasecki opened #236 "Implement plotting for xyz chemistry files."
The goal of this issue is to implement plotting methods (using Matplotlib) to visualize xyz chemistry files that are output of the protein folding feature. Plots will show folded proteins in 3D.

[2021-06-16 05:16] dlasecki opened #237 "Support custom interactions and custom energy potential files."
This issue might imply some changes in the code design.

[2021-06-16 06:16] mrossinek commented on #233
@ikkoham Could you please have a look at this?

[2021-06-16 06:26] mrossinek commented on #234
I can confirm that 8645ee35fa40d1c4d67d71e8a1c0e766f8af324b is the first commit on `main` which experiences this drastic performance degradation. @ikkoham could you please also take a look at this one?

[2021-06-16 09:30] ikkoham commented on #234
hmm... Coexistence of dense and sparse labels causes the performance regression. I think we should separate the internal structure and API as I first proposed. But, I will try to improve the performance when I do #224 .

[2021-06-16 13:07] jlapeyre commented on #234
@mrossinek . I did not identify the first release that introduces the regression. I assumed it was the introduction of the new structure.

[2021-06-16 13:53] mrossinek commented on #234
I agree. But I didn't expect this to be >10x slowdown..

[2021-06-16 14:04] ikkoham commented on #234
It's slow because it's converting between dense and sparse. It's true that my implementation was rushed and very bad. There are a lot of unnecessary conversions, so I thought I would fix the conversions when I delete Legacy.

[2021-06-16 14:11] paulineollitrault opened #239 "Filter function for Numpy solver bugs"
### Information

- **Qiskit Nature 0.1.3**
- **Python 3.8.10**
- **OS Darwin**

### What is the current behavior?

The `default_filter_criterion` of the NumPyEigensolverFactory does not return all possible correct states.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

We should see 3 states but numpy only returns 2.

### Suggested solutions

There must be a bug in

[2021-06-16 14:54] mrossinek commented on #239
For some context: The behavior is indeed correct as works as expected. Below is the output of the snippet above using the latest `main` branch:
[code]

In comparison, this is the output without the default filter criterion:
<details>

[code]
</details>

[2021-06-16 16:56] jlapeyre commented on #234
I didn't look into this at all, just reported it. The reason is that I was guessing that the response might be that my use of `build_ferm_op_from_ints` is not recommended, i.e. is obsolete.  Of course sending a sparse object to routines optimized for dense storage or vice versa often incurs a big performance penalty due to conversion. I suppose functions will need to be rewritten to take advantage

[2021-06-17 16:49] tanvipg opened #241 "Error in JW mapping with z2symmetry_reduction when running VQE-UCCSD"
### Information

- **Qiskit Nature version**: qiskit-nature: 0.1.3
- **Python version**: Python 3.8.10
- **Operating system**: macOS BigSur

### What is the current behavior?
When implementing VQE-UCCSD with JW Mapping with z2symmetry_reduction; HF state returns None object. Similar behavior observed for Parity Mapping with z2symmetry_reduction  and no two qubit reduction.

### Steps to reproduce

[2021-06-18 12:53] woodsp-ibm opened #242 "BopesSampler uses deprecated method of VQE - needs to be updated"
VQE was changed to deprecate a bunch of methods, that were around aspects of the result, to make it stateless, which now requires the result object to be used directly. AdaptVQE was updated in #222 but as that was progressed, after the Terra PR to make VQE stateless was merged, CI failed when BopeSampler accessed one of the deprecated properties. Turned out the decorators were in the wrong order l

[2021-06-18 14:31] mrossinek opened #243 "Modular `DriverResult`"
### What is the expected enhancement?

With #220 coming to an end, the first step of #148 will soon be implemented.
As outlined there, the second step was the investigation of whether the `Transformer` classes can benefit from these new properties. I.e. the following work flow change:
* Current: `Driver -> QMolecule/Watson -> Transformer -> Property -> SecondQOp`
* Proposed: `Driver -> QMolecule/W

[2021-06-18 16:04] #28 closed

[2021-06-19 18:46] #188 closed

[2021-06-21 12:55] dlasecki opened #246 "Migrate the optimization benchmarking PR to a new repo."
There will be a separate repository created for the purpose of code benchmarking. The goal of this task is to migrate the PoC benchmarking PR from Qiskit Optimization to the separate repo.
The PoC PR can be found here:
https://github.com/Qiskit/qiskit-optimization/pull/108.

[2021-06-21 20:26] m-i-w commented on #235
Can you provide more information? Where should this enhancement live, can we use existing functionality from PySCF/Psi4, where do we want to use it?

[2021-06-22 14:11] jlapeyre commented on #9
I favor retaining a class that stores the fermionic Hamiltonian as 2-d and 4-d arrays, as in aqua's `FermionicOperator`. And furthermore that this class be exposed in the API.

* This is essentially how the operators are produced by the electronic-structure software. Going through a string representation, although it offers some advantages, is more complicated.
* Because it's more complicated, it

[2021-06-22 16:24] woodsp-ibm opened #247 "Bopes Sampler tutorial has incorrect if tests and output has warnings"
docs/tutorials/05_Sampling_potential_energy_surfaces.ipynb

line [9]
[code]
and similar in ln[12]
[code]

[2021-06-23 07:19] mrossinek commented on #9
I do see where you're coming from with this. However, I also see some disadvantages with this approach.
For one, your suggestion inherently limits us to one- and two-body terms whereas the current implementation can easily be generalized to n-body terms (especially with #220 well underway). Although (right now) none of our classical drivers supports n-body terms, this should not be limitation whic

[2021-06-23 07:54] dlasecki commented on #235
@m-i-w Hi, we already have a code for that in one of our proof of concepts. Just needs to be adapted for our incoming protein folding feature.

[2021-06-23 08:09] #198 closed

[2021-06-23 12:46] #158 closed

[2021-06-23 18:53] jlapeyre commented on #9
* I think I wasn't clear enough. I'm not proposing getting rid of the string-based representation in favor of the tensor-based. I was thinking of retaining both. And don't use the latter in cases where it doesn't apply, i.e. more than one- and two-body terms.

* I have no doubt the performance can be improved. The point is that it had degraded and has to be fixed. And there will likely be further

[2021-06-23 19:33] woodsp-ibm commented on #9
This is related to what John is saying about integrals as input for an operator. Some people have integrals from elsewhere and had been creating the FermionicOperator in the past and are now lost. They don't start from driver. I fielded another such question today. An operator such as John describes might be helpful for those that prefer to experiment more and are coming at the code from different

[2021-06-25 08:50] mrossinek commented on #167
Closed by #220.

[2021-06-25 08:50] #167 closed

[2021-06-25 13:27] dlasecki opened #250 "Create a protein folding tutorial."
The goal of this issue is to create a tutorial (Jupyter Notebook) that would demonstrate how to use the latest Protein Folding feature from Qiskit Nature for some examples of proteins.

[2021-06-26 06:48] Rukhsan commented on #241
Please assign this issue to me.

[2021-06-28 01:21] jlapeyre commented on #9
I also thought of having something like the old `FermionicOperator` just as a way to organize and expose an API for building `FermionicOp`. I agree with @woodsp-ibm that this could be really useful.

[2021-06-28 05:33] mrossinek commented on #9
With #220 merged, you can use the `ElectronicEnergy` to build an `FermionicOp` from integrals like so:
[code]
The syntax may improve slightly during the work on #243 but the overall benefit of this approach is its generality because we are able to easily extend this approach to include n-body integrals in the future.

[2021-06-29 11:57] dlasecki opened #252 "Unlock a side chain at the 2nd main bead."
Currently, it is forbidden to attach a side chain to the 2nd main bead. By geometry arguments, it allows for saving 1 qubit at index 6 in an optimization problem.

The goal of this issue is to allow having a side chain attached to the 2nd main bead at the expense of not saving the qubit at index 6. If a provided protein does not have a side chain attached to the 2nd main bead, the qubit at index 6

[2021-06-30 14:59] molar-volume opened #255 "Reverse Jordan-Wigner transformation"
### What is the expected behavior?
While **Jordan-Wigner transformation** is implemented in the `mappers` framework (`JordanWignerMapper`), the reverse transformation is missing.

Please implement reversed Jordan-Wigner transformation.
Inspiration can be drawn from https://github.com/quantumlib/OpenFermion/blob/master/src/openfermion/transforms/opconversions/reverse_jordan_wigner.py

[2021-06-30 15:09] 0sophy1 commented on #255
Thank you for creating the issue! We are mentors of this event -  https://github.com/qiskit-community/quantum-hackathon-korea-21  and while handling the questions, we found there is no reverse Jordan Wigner function in Qiskit.

[2021-06-30 15:42] woodsp-ibm commented on #255
Do you have a use-case/example of situations where this reverse transformation would be useful for a particular algorithm or problem being solved?

[2021-06-30 15:52] 0sophy1 commented on #255
it can be used for making anti-symmetric groups. also https://github.com/quantumlib/OpenFermion-FQE/blob/e4261fb7de19ae64a2a608e7c136503088976ca9/src/fqe/openfermion_utils.py this doc shows another use-case of this function in the open fermion side. In this time we've received a question because they want to reverse encode the computed qubit state into a fermionic state.

[2021-07-01 16:47] anhph opened #258 "Problem with loading PySCFDriver on the IBM Quantum experience"
I got error when i tried to use the online IBM Quantum experience

from qiskit_nature.drivers import PySCFDriver

Traceback (most recent call last):
  File "<ipython-input-11-00edae455ff0>", line 2, in <module>
    from qiskit_nature.drivers import PySCFDriver
  File "/opt/conda/lib/python3.8/site-packages/qiskit_nature/drivers/__init__.py", line 155, in <module>
    from .pyscfd import PySCFDrive

[2021-07-01 19:59] woodsp-ibm commented on #258
Locally we have a workaround to pin h5py version to exclude the latest release until such time as PySCF is updated too - see #248 And FYI here is a ref to the issue in PySCF #pyscf/pyscf/issues/1003

[2021-07-02 13:50] dlasecki opened #259 "Solution decoder for protein folding."
Having constructed a full Hamiltonian for the problem, we compress the number of qubits by getting rid of trivial registers (initially reserved due to the size of a problem but then not relevant for optimization). Currently, this compression is 1-way only as we do not propagate information on which qubits were removed. It makes it impossible to interpret the solution vector - we are only left with

[2021-07-02 14:30] cpossel opened #260 "Unicode Error when launching PSI4 driver (using Windows)"
When using psi4 as driver for my vqe calculations, I get the following error:
[code]

With the kind help of some psi4 developers I could track down it to these lines:
https://github.com/Qiskit/qiskit-nature/blob/c7fa055cfba2dc08daef0111e569ae5eb9bce10b/qiskit_nature/drivers/psi4d/psi4driver.py#L123-L133

I was able to get rid of the problem via changing above lines to this:
[code]
Unfortunately th

[2021-07-02 14:37] cpossel commented on #260
Maybe the initial issue at psi4 is useful for you. It can be found here
[https://github.com/psi4/psi4/issues/2228](url)

[2021-07-02 14:40] dlasecki opened #261 "Generalize BaseProblem to capture sampling problems."
The current `BaseProblem` interface should be renamed to `BaseSecQuantProblem` (or similar) since it contains logic specific to second quantized problems that does not appear in sampling problems.
There is need for a new interface, one level higher, called `BaseProblem` which both `BaseSecQuantProblem`  and `BaseSamplingProblem` would implement. Then, ground state eigensolvers present in Nature sh

[2021-07-02 14:47] loriab commented on #260
Hi, I'm a psi4 dev. Please ping me some time if you'd like to switch the Qiskit interface to things like:
* `import psi4;ret, wfn = psi4.energy(mtd, return_wfn=True)` instead of `psi4 -i input_text.in`
* `psi4.core.Molecule.from_arrays(geom=[0, 1, 0, ..., 5.3], elem=["H", "O", "H"], molecular_charge=0)` instead of building from string.

[2021-07-02 15:04] woodsp-ibm commented on #260
I know when we first did the PSI4 driver there was no Windows version and I guess it has not been looked at since that came out. As far as it being Windows specific since we can detect platform its possible to do different code paths if that's what it takes.

@loriab The reason we went with the input file approach was to allow users to program at that level with PSIThon and do settings etc like th

[2021-07-02 16:00] loriab commented on #260
That's perfectly understandable, and thanks for catering to our DSL. Nowadays, using the API isn't much harder than adding some `psi4.`s to Psithon and `molecule <name> {...}` to `name = psi4.geometry(...)` and `set {key val}` -> `psi4.set_options({"key": val})`. I usually think of quantum computing users as pretty adept, so a change may be reasonable to avert and trace errors like the above. Anyw

[2021-07-02 16:01] mrossinek commented on #260
If the problem of this issue is related to paths I suggest looking into [pathlib](https://docs.python.org/3/library/pathlib.html) to replace the `os.path` usage. It has built-in platform support/detection and should simplify these things a lot.

[2021-07-04 22:13] MartinBeseda commented on #261
Hi @dlasecki ,
can I have a look at this one?

Best,
Martin

[2021-07-05 09:47] cpossel commented on #260
I added a pull request for my changes here:
[https://github.com/Qiskit/qiskit-nature/pull/262](url)
@mrossinek Thanks for pointing out to use pathlib.

[2021-07-05 14:18] BStar14 commented on #255
[@GyeonghumKim](https://github.com/GyeonghunKim) implemented mapper
[https://github.com/molar-volume/qiskit-nature/blob/reverse_jw/qiskit_nature/mappers/second_quantization/reverse_jordan_wigner_mapper.py]
(https://github.com/molar-volume/qiskit-nature/blob/reverse_jw/qiskit_nature/mappers/second_quantization/reverse_jordan_wigner_mapper.py)

and test file
[https://github.com/molar-volume/qiskit-n

[2021-07-06 14:44] mrossinek opened #264 "Leverage modular `DriverResult` directly on `Driver` level"
### What is the expected enhancement?

The third (and final) step of #148 suggests to replace the return objects for all `qiskit_nature.drivers` with the new modular `Property` framework. I.e.:
[code]

:warning: Names not final!

The implementation of these `CompositeProperty` objects (as proposed in #263) allows a straight forward migration using the `from_legacy_driver_result` methods.

The afor

[2021-07-07 14:24] woodsp-ibm commented on #260
We should leave this open until the PR that fixes this #262 is merged. I edited it so once it merges it will auto-close this.

[2021-07-07 18:31] #260 closed

[2021-07-08 13:04] dlasecki commented on #261
Hello @MartinBeseda,
After internal discussions we decided to take a different route for now than generalizing the existing BaseProblem class. We still need to figure out some details about it internally. Thanks for offering help though. For now, I'm closing this issue.

[2021-07-08 13:04] #261 closed

[2021-07-09 13:28] cpossel opened #271 "IndexError using QubitConverter to get a qubit operator"
### Information

- **Qiskit Terra version**: 0.17.4
- **Python version**: 3.8.10
- **Operating system**: Windows 10

### What is the current behavior?

Script terminates with `IndexError` when converting a `ElectronicStructureProblem` to a qubit operator using `convert` method from a `QubitConverter` object.
Here is the whole traceback:
[code]

### Steps to reproduce the problem

Run the example f

[2021-07-09 13:43] woodsp-ibm commented on #271
I moved it to Nature - you may be right that the fix may come down to logic that is in Terra, but I think Nature is the 'right' place to have this for now as things are investigated

[2021-07-09 14:30] cpossel commented on #271
Okay.
Then the whole version info might be useful instead of only the Terra version:
<html>
<body>

Qiskit Software | Version
-- | --
Qiskit | 0.27.0
Terra | 0.17.4
Aer | 0.8.2
Ignis | 0.6.0
Aqua | 0.9.2
IBM Q Provider | 0.14.0

Python | 3.8.10 \| packaged by conda-forge \| (default, May 11 2021, 06:25:23) [MSC v.1916 64 bit (AMD64)]
OS | Windows
CPUs | 4
Memory (Gb) | 15.638534545898438

</body>

[2021-07-14 15:08] eendebakpt opened #274 "Unreferenced variable CompleteMeasFitter"
### Information

- **Qiskit Nature version**: 0.1.4
- **Python version**: 3.8
- **Operating system**: Windows 10

### What is the current behavior?

Running one of the algoritms results in an error `UnboundLocalError: local variable 'CompleteMeasFitter' referenced before assignment` due to a missing import.

### Steps to reproduce the problem

A minimal example is:
[code]

### What is the expected

[2021-07-16 02:47] jsistos opened #278 "Error in docstring of Second Quantization Qubit Mappers"
# **Problem**
The documentation for a bunch of the second quantization mappers is not being rendered correctly, as seen in the docs for the [Jordan Wigner](https://qiskit.org/documentation/nature/stubs/qiskit_nature.mappers.second_quantization.JordanWignerMapper.html#qiskit_nature.mappers.second_quantization.JordanWignerMapper) mapper.

![bugmap](https://user-images.githubusercontent.com/46694558/

[2021-07-16 12:56] woodsp-ibm commented on #278
Thanks for reporting this - the continuation line starting with 'number of...' should have been indented; otherwise as you its treating that as another arg following this one.

[2021-07-17 13:56] woodsp-ibm opened #279 "Failed to import qiskit_nature.transformers FreezeCoreTransformer"
The `transformers` were relocated under `second_quantization` and some deprecation logic was put in place to allow them to be used from the version 0.1.0 location with a deprecation warning. I was looking at some code which was posted describing an issue, written to 0.1.0, and it fails to import the transformers.
[code]

I do not see any unit tests using the code from the 0.1.0 location to ensure

[2021-07-20 16:14] #278 closed

[2021-07-22 11:35] mrossinek commented on #271
The fact that this is an `IndexError` when accessing `label[0]` seems to suggest that the length of `label` is 0 which would mean that the number of qubits is 0. This sounds correct when simulating a single `He` atom in combination with `two_qubit_reduction=True`. We can add a check to the `QubitConverter` to skip this reduction when there are 2 or fewer qubits to begin with.

However, I don't thi

[2021-07-22 11:39] mrossinek commented on #274
This error occurs in `QuantumInstance` and, thus, should be transferred to Terra. I can confirm this issue and it looks like a fix requires another fenced import like done [here](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/utils/quantum_instance.py#L537-L547). It appears as though this if-branch is not running in your case and, therefore, the import is not available yet at https://gith

[2021-07-22 13:24] cpossel commented on #271
I rechecked it and you're completely right. `Ne` works fine.
In the other cases (`H`, `H-`, `He`) the error still persists.
I tested to switch to `two_qubit_reduction=False` and then also `H`, `H-`, and `He` worked fine in agreement with your explanation.
I think the check you proposed (or even only a warning message) would be helpful for all those who start with such small examples and try out th

[2021-07-23 06:44] mrossinek commented on #274
Closing after it's duplicate in Terra got fixed: https://github.com/Qiskit/qiskit-terra/issues/6789

[2021-07-23 06:44] #274 closed

[2021-07-23 11:15] woodsp-ibm commented on #274
I am uncertain what happened - I did transfer this across to Terra as you suggested - where it still says something about transfer in progress. I guess the transfer failed somehow leaving the transferred version in Terra still saying its in progress and this one stuck here - oh well!

[2021-07-26 09:37] #271 closed

[2021-07-26 10:08] #279 closed

[2021-07-28 09:30] dlasecki opened #288 "ML benchmarks."
The goal of this epic is to implement benchmarks for Qiskit ML that would be representative of the module's overall performance. The list of ideas for benchmarks is maintained here (access for IBM only):

https://ibm.box.com/s/fmzziv1dr55wrdbmirad5ha2ngtwgnyq

[2021-07-28 15:07] Cryoris opened #289 "`VQEProgram` to support optimizers classes for optimizers instead of dictionaries"
### What is the expected behavior?

Since Terra 0.18 optimizers are serializable and supported by the runtime VQE script. The VQEProgram must be updated to support them, too. Currently it stil expects the optimizer as dictionary.

[2021-07-29 04:28] HuangJunye commented on #258
I faced the same problem. Solved it by installing h5py < 3.3

[code]

[2021-07-29 09:09] HuangJunye commented on #258
By the way, if you are using it on IBM Quantum platform / Jupyter notebook, you can use the following code in a cell to downgrade h5py. The `--yes` flag is necessary to confirm the uninstallation.

[code]

[2021-07-29 13:09] #289 closed

[2021-07-30 08:48] mrossinek commented on #243
Closed by #263

[2021-07-30 08:48] #243 closed

[2021-08-02 03:37] ikkoham commented on #233
@jlapeyre This issue was fixed by #263. Could you check it and if confirmed, please close this issue?

[2021-08-02 14:38] #165 closed

[2021-08-03 16:53] jlapeyre commented on #233
Yes, #263 has fixed the issue.

[2021-08-03 16:53] #233 closed

[2021-08-04 12:02] mrossinek opened #302 "HDF5 integration for the `Property` framework"
### What is the expected behavior?

The `Property` framework will be mostly finalized and properly integrated with the drivers by closing #264 (PR link TBD).
Due to time constraints, the HDF5 integration will not become part of Nature's upcoming 0.2.0 release. The most important reason that it will require some more planning, which should be done in this issue (to be updated later).

For the time

[2021-08-04 12:03] mrossinek commented on #166
As part of migrating the new drivers to the property framework (#264) I have checked each open driver for an estimated amount of time required to refactor it. I will summarize below:

| Driver | Estimated Time required |
|-|-|
| pyscf | Done and fully migrated after #264 |
| pyquante | very similar to PySCF, portable in 0.5-1 days |
| psi4 | relies on `hdf5` framework (see below) |
| gaussian (ele

[2021-08-06 06:58] mrossinek opened #307 "Inconsistent `UCC` documentation"
### What is the expected enhancement?

The [documentation of `UCC`](https://qiskit.org/documentation/nature/stubs/qiskit_nature.circuit.library.UCC.html) refers to the documentation of `qiskit_nature.circuit.library.ansatzes.utils.fermionic_excitation_generator` [here](https://github.com/Qiskit/qiskit-nature/blob/main/qiskit_nature/circuit/library/ansatzes/ucc.py#L76-L78).
However, the documentati

[2021-08-06 07:10] mrossinek commented on #307
I found this inconsistency when answering to [this](https://quantumcomputing.stackexchange.com/q/20749/13342) stackexchange question. While writing up my answer I had the thought that we could probably avoid problems similar to this in the future if we add some checks on the excitation list (e.g. each entry being a pair of tuples of identical length, unique orbital indices per excitation, etc.)

W

[2021-08-06 15:00] #226 closed

[2021-08-07 15:53] woodsp-ibm opened #309 "Protein Folding API - Lists plus their lengths"
To follow on the discussion on the main PR #231, in regards of its public API, ahead of the function being released. In particular around passing both a List, which has a length property, as well its length separately - see comments in that PR here https://github.com/Qiskit/qiskit-nature/pull/231#issuecomment-894307986 and  https://github.com/Qiskit/qiskit-nature/pull/231#issuecomment-894320719

I

[2021-08-09 06:28] mrossinek commented on #309
I have to agree with @woodsp-ibm here. In fact, I would prefer the string-style definitions over any of the previously discussed/proposed designs. I believe it is the most readable out of the lot and it also has the benefits of:
* being easy to be generated programmatically (you could have a mutable list if you wanted but that is easily joined to a string and I don't think this causes a significan

[2021-08-10 09:34] dlasecki commented on #309
Looks good.

[2021-08-11 07:39] Qiankun-source opened #311 "How to convert the pauli_op to Hamiltonian matrix in VEQ"
### What is the expected enhancement?
In qiskit tutorial: Electronic structure
The final result is pauli_opertor, but obtaining the corresponding  Hamiltonian matrix is important sometimes.
I want to know whether there is a method/model to get this matrix.

Thanks.

[2021-08-11 10:08] mrossinek opened #312 "Allow custom `Property` integration"
### What is the expected enhancement?

After #303 will be merged, it will not yet be possible to add custom `Property` objects to the `GroupedProperty` object used within the `BaseProblem` implementations. A major reason for holding off on this, is that we really need https://github.com/Qiskit/qiskit-terra/issues/6772 to be implemented. Otherwise, a lot of edge cases can break down when we allow a

[2021-08-11 11:28] dlasecki opened #313 "Implement the interpret method for protein folding."
Protein folding problem lacks the implementation of an interpret method for its result.

The interpret method should be implemented that hopefully makes it easier for the user to decode the meaning of a result, i.e. the shape of a protein. For instance, it could segregate qubits into configuration qubits and interaction qubits. Configuration qubits and their state after optimization could be mappe

[2021-08-11 11:56] mrossinek commented on #9
Closed by #232

[2021-08-11 11:56] #9 closed

[2021-08-11 14:14] #117 closed

[2021-08-12 07:46] dlasecki opened #317 "Nature benchmarks"
The goal of this epic is to implement benchmarks for Qiskit Nature that would be representative of the module's overall performance. The list of ideas for benchmarks is maintained internally.

[2021-08-12 13:08] #309 closed

[2021-08-12 13:09] #259 closed

[2021-08-12 13:36] woodsp-ibm commented on #313
Does this take care in some way of what was described in #259 - which I see was just closed but no reason was given. Or was it already taken care of in main protein folding work that was done.

[2021-08-12 13:56] mrossinek commented on #159
@woodsp-ibm I talked to Alex (@Durd3nT) who is willing to help on this. #307 seems a little bit more involved so maybe you can look at that one instead?

[2021-08-12 15:30] #159 closed

[2021-08-12 15:55] dlasecki commented on #313
It was taken care of.

[2021-08-12 16:12] woodsp-ibm commented on #247
In the latest code it is printing this too
[code]
which the currently published notebook on stable branch does not do (@mrossinek in case you have any thoughts - in any case I'll look after taking care of issue #242 otherwise that warning ends up in output in the notebook too)

[2021-08-12 18:21] woodsp-ibm opened #320 "BKSF uses deprecated function, needs updating"
CI Deprecation message roll-up shows

Line 279, referenced above is this

https://github.com/Qiskit/qiskit-nature/blob/4f1e53f274d3456c550101344db3618647ebae79/qiskit_nature/mappers/second_quantization/bksf.py#L279

[2021-08-13 07:27] mrossinek opened #323 "Check generated excitations in UCC Ansatz before usage"
### What is the expected enhancement?

In [this comment](https://github.com/Qiskit/qiskit-nature/issues/307#issuecomment-894053897) I proposed to add some checks on the generated excitations as used in the `UCC` Ansatz, [here](https://github.com/Qiskit/qiskit-nature/blob/main/qiskit_nature/circuit/library/ansatzes/ucc.py#L293).
This idea was motivated after seeing [this](https://quantumcomputing.s

[2021-08-13 07:31] #242 closed

[2021-08-13 09:40] #252 closed

[2021-08-13 10:16] mrossinek commented on #247
Thanks for catching this! I will make the relative and absolute tolerances of that check configurable as part of #303
However, those numbers are **really** far off sometimes. I think what one would have to do is disable that logger:
[code]

[2021-08-13 11:08] dlasecki opened #324 "Protein folding does not handle interaction file path correctly."
In the protein folding module there is a resource file called mj_interaction.txt that provides information for MJ and Mixed interactions. Currently, it is not possible to use these interaction because the path provided for the file is not recognized.

`OSError: qiskit_nature/problems/sampling/protein_folding/interactions/resources/mj_matrix.txt not found.`

[2021-08-13 11:48] mrossinek commented on #247
After talking to @pbark offline, we decided to move this logging call to `info` which should eliminate the problem of unwanted warnings in the tutorials. The fact that this will be logged is documented which should help users who are interested in this information find it :+1:

[2021-08-13 12:14] woodsp-ibm commented on #247
We can also think about how to do things like this in regards to the sort of validation of the experiment that has been discussed - around validating input values/configuration etc for the user to better assure their computation is likely to succeed. Here its validating the result against expected values - its the reason it was added of course to allow an end user to see these other properties and

[2021-08-13 12:19] mrossinek commented on #247
I absolutely agree! I do want to go back to that discussion of user input validation and improving output awareness.
I also like the idea of some sort of a global switch to turn such checks on/off.

But like you say, let's leave this until we revisit that discussion :+1:

[2021-08-13 12:45] #307 closed

[2021-08-13 14:06] mrossinek commented on #147
The extraction of the `Molecule`-based drivers was done in #287 and #166 will supersede this Epic as the one tracking the general driver improvements which remain to be tackled.

[2021-08-13 14:06] #147 closed

[2021-08-13 14:26] #324 closed

[2021-08-13 20:49] #247 closed

[2021-08-16 07:07] mrossinek commented on #311
The `QubitConverter` will produce a `PauliSumOp` object. This is an operator which is implemented in Qiskit Terra.
It provides a `to_matrix` method which is documented [here](https://qiskit.org/documentation/stubs/qiskit.opflow.primitive_ops.PauliSumOp.html#qiskit.opflow.primitive_ops.PauliSumOp.to_matrix). You may also be interested in its [sparse variant](https://qiskit.org/documentation/stubs/q

[2021-08-16 13:27] #320 closed

[2021-08-17 13:45] #250 closed

[2021-08-17 16:37] #224 closed

[2021-08-17 16:38] mrossinek commented on #234
Closed via #314

[2021-08-17 16:38] #234 closed

[2021-08-18 14:30] #264 closed

[2021-08-23 14:21] mrossinek commented on #311
I assume this question in answered. Please re-open otherwise

[2021-08-23 14:21] #311 closed

[2021-08-23 15:56] mrossinek opened #337 "Add `TwoBodyElectronicIntegrals` notation conversion utilities"
### What is the expected enhancement?

Currently the `TwoBodyElectronicIntegrals` matrices are expected to be given in chemistry notation. Utility methods to convert to and from the physics notation would be valuable additions to this class.

Analogous to this we may also be interested in utility methods to convert the `SO`-basis matrices of the one- and two-body electronic integrals between the (

[2021-08-23 15:58] mrossinek commented on #337
Here is the [related TODO marker](https://github.com/Qiskit/qiskit-nature/blob/main/qiskit_nature/properties/second_quantization/electronic/integrals/two_body_electronic_integrals.py#L32) in the source code.

[2021-08-24 06:42] mrossinek commented on #258
This issue appears to be fixed on the Quantum Lab since we have fixed the `h5py` dependence in Nature until PySCF produces a new release: https://github.com/Qiskit/qiskit-nature/commit/e714dfe87caf605f13fb83ec5289e596c94a18ca

[2021-08-24 06:42] #258 closed

[2021-08-26 15:48] Brogis1 opened #342 "Bug in the generation of the `HartreeFock` state for homonuclear molecules."
### Information

- **Qiskit Nature version**: 0.2.0
- **Python version**:  3.7
- **Operating system**: macOS Big Sur

### What is the current behavior?

Error when creating the initial HF state for the UCCSD ansatz **only for homonuclear molecules.**
LiH for instance works fine with this code.
Seems like in the hartree_fock.py the code below behaves in an unexpected manner.

[code]
qubit_op is Non

[2021-08-29 06:34] mrossinek opened #343 "Update `SparsePauliOp`-related code"
The scheduled CI run from last night failed (https://github.com/Qiskit/qiskit-nature/runs/3452786046?check_suite_focus=true) most likely due to merging of this PR in Terra: https://github.com/Qiskit/qiskit-terra/pull/6826

@ikkoham would you be willing to look into fixing this? If yes, please assign yourself :+1:

[2021-08-31 11:04] #343 closed

[2021-08-31 13:15] woodsp-ibm opened #345 "Problem molecular_data_transformed not being set with legacy logic"
In looking at the following slack posting on the Qiskit workspace it seems that

https://qiskit.slack.com/archives/C7SJ0PJ5A/p1630241280123200

[code]
works fine to here but then
[code]
fails with
[code]

This was my response in the post

[2021-09-01 13:23] jlapeyre commented on #337
Yes.

[2021-09-02 10:04] #345 closed

[2021-09-07 20:36] woodsp-ibm opened #354 "Runtime tutorial - incorrect import"
The Runtime tutorial `docs/tutorials/07_leveraging_qiskit_runtime.ipynb` was altered to for 0.2.0 to use the moved/refactored drivers but the `ActiveSpaceTransformer` imported is the old, now deprecated one.
[code]
The use of this leads to a failure as described by this thread in Qiskit Slack https://qiskit.slack.com/archives/CB6C24TPB/p1630955292144900 where they based their code on this tutorial

[2021-09-08 15:16] #354 closed

[2021-09-14 12:07] ikkoham commented on #43
@k-tamuraphys will make a PR about Lattice and FermiHubbard.

[2021-09-15 08:30] cpossel opened #363 "Qubit mapping error using measurement error mitigation"
### Information

- **Qiskit Nature version**: 0.2.1
- **Qiskit version**: 0.29.1
- **Python version**: 3.8.11
- **Operating system**: Windows 10

### What is the current behavior?

Raises an error when using measurement error mitigation for ground state energy calculation of LiH:
[code]

### Steps to reproduce the problem

Run below minimal example (adjusted from the example code in the qiskit-nat

[2021-09-15 08:30] cpossel commented on #363
It seems the measurement error mitigation code is part of qiskit ignis, but I don't know where in the code with all the qiskit-nature stuff the adjustments must be made. So, I'd be thankful if you moved it to qiskit ignis if you think it belongs there.

[2021-09-15 10:07] cpossel commented on #363
I just found a similar(/the same?) issue at [qiskit-terra/issues/5730](https://github.com/Qiskit/qiskit-terra/issues/5730).
So, should this issue be closed here in favor of the one in qiskit-terra?

[2021-09-16 08:58] ikkoham opened #364 "Implement Lattice and FermiHubburModel"
### What is the expected behavior?

Implement Lattice and FermiHubburModel

[2021-09-16 09:12] #364 closed

[2021-09-20 07:57] mrossinek opened #368 "`ElectronicStructureResult` not properly initialized"
### Information

- **Qiskit Nature version**: latest `main` development branches
- **Python version**: 3.9.6
- **Operating system**: Linux

### What is the current behavior?
When an `ElectronicStructureResult` has `nuclear_dipole_moment` set but the algorithm did not compute any dipole moments, the following error occurs:
[code]

### Steps to reproduce the problem
[code]

### What is the expected

[2021-09-21 14:03] woodsp-ibm opened #370 "VQEClient Runtime callback issue"
This was commented as a behavior of the VQEClient on the external Qiskit Slack https://qiskit.slack.com/archives/CB6C24TPB/p1632150351317600

In summary the following seems like incorrect behavior in that the callback is mal-functioning under network error conditions

[2021-09-24 02:32] HuangJunye opened #373 "QiskitError: 'Sum of amplitudes-squared does not equal one.' in QEOM when two qubit reduction is set True"
### Information

- **Qiskit Nature version**: 0.2.0
- **Python version**: 3.8.8
- **Operating system**: macOS 11.4 Big Sur

### What is the current behavior?

Error message: `QiskitError: 'Sum of amplitudes-squared does not equal one.'`

[code]

### Steps to reproduce the problem
Add these code after the [example code in the README](https://github.com/Qiskit/qiskit-nature/blob/main/README.md#creat

[2021-09-24 02:36] HuangJunye commented on #373
Here's the gist of a notebook reproducing the error: https://gist.github.com/HuangJunye/cce1a2c2f6a04cc865eeb54170288acb

[2021-09-27 06:58] #368 closed

[2021-09-27 15:41] HuangJunye opened #375 "Add support for `callback` for minimum_eigensolver_factories"
### What is the expected enhancement?

`callback` is used for getting interim results while running iterative algorithms like VQE. This is especially useful when running on hardware (with Qiskit Runtime) because the program can take hours to run.

`callback` is supported by `VQE` in qiskit terra but not the minimum eigensolver factories such as `VQEUCCFactory` and `VQEUVCFactory` in qiskit terra.

[2021-09-27 15:42] HuangJunye commented on #375
See this gist of a notebook for details: https://gist.github.com/HuangJunye/e17027d2e03bb36873ccf32080197c27

[2021-09-27 15:55] HuangJunye opened #376 "Add support for callback for QEOM"
### What is the expected enhancement?

This is related to #375

It would be nice to see interim results for excited states calculation iterations using `QEOM` algorithm. Current code only supports `callback` in the ground state calculation.

I think in general, it would be nice to add `callback` kwarg to `GroundStateEigensolver` (refers to `GSE` below) and `ExcitedStateEigensolver` classes.

If th

[2021-09-27 15:55] HuangJunye commented on #376
See this gist of a notebook for details: https://gist.github.com/HuangJunye/35dbbab66063a71ec5774a4a0079e1b6

[2021-09-28 09:19] raghavven opened #379 "Allocate more memory in IBM-Quantum Experience"
Dear All,

In IBM-Quantum experience, while running a job on the cloud it shows the memory used at the bottom of the screen. By default the memory allocated at the maximum seems to be 8192.00 MB. For some calculation, the memory required increases beyond the max value and becomes red in color and kernel restarts. Is there a way to request more memory before the calculation?

Thank you

[2021-09-28 12:32] Brogis1 commented on #342
Any idea if this is going to get fixed or already was?

[2021-09-29 10:03] mrossinek commented on #376
Hi @HuangJunye! Thanks for the suggestion. I believe there are two suggestions here:

### Callback for QEOM
The excited states calculation of QEOM actually has no iterative steps. It performs an initial ground state calculation (which has a callback available after #375) but after that it only evaluates some additional auxiliary operators and performs classical post-processing of these results.
Th

[2021-09-29 10:39] HuangJunye commented on #376
Thanks for looking into this issue and summarizing our discussions over Slack! I agree with both points. We can close this issue.

[2021-09-29 10:39] #376 closed

[2021-09-29 13:22] mrossinek commented on #373
This issue boils down to a mismatching qubit operator of the ground state Hamiltonian and the hopping operators. All of these are checked for their commutativity. QEOM appears to rely on using the _untapered_ qubit op [here](https://github.com/Qiskit/qiskit-nature/blob/main/qiskit_nature/algorithms/excited_states_solvers/qeom.py#L108). However, the hopping operators are actually already being mapp

[2021-09-29 13:27] mrossinek commented on #373
Here is a "partial fix" which changes `map -> convert_match` and adds two unittests for QEOM:
- one with two-qubit reduction (which works with this applied patch)
- one with automatic `Z2Symmetries` (which runs into #134

[code]

[2021-09-29 14:29] mrossinek commented on #26
Although rather abstract and not showcasing all of the details, below is a proposal for the information flow of the iterative DFT embedding:
![Qiskit_Nature-Iterative_DFT_Embedding](https://user-images.githubusercontent.com/21973473/135289336-f986513a-ceb3-4a15-a6a1-0238b8d58676.png)

[2021-09-30 05:41] fs1132429 commented on #123
👍

[2021-09-30 12:51] eggerdj opened #383 "Support multiple spin lengths in SpinOp"
### What is the expected enhancement?

Currently `SpinOp` as an intrinsic limitation where all spins have the same dimension. For example, `SpinOp("ZZ", spin=5/2)` represents a `ZZ` coupling between two spins with spin 5/2. However, it does not seem possible to have spins of different lengths in the same spin op. This could be represented if `SpinOp` were extended to also accept a list of spin val

[2021-09-30 12:51] eggerdj opened #515 "Support multiple spin lengths in SpinOp"
### What is the expected enhancement?

Currently `SpinOp` has an intrinsic limitation where all spins have the same dimension. For example, `SpinOp("ZZ", spin=5/2)` represents a `ZZ` coupling between two spins with spin 5/2. However, it does not seem possible to have spins of different lengths in the same spin op. This could be represented if `SpinOp` were extended to also accept a list of spin va

[2021-10-04 12:34] mrossinek opened #384 "VQE Factory method improvements"
### What is the expected enhancement?

#380 introduces dependencies on private variables of the `VQE` class. This is a temporary workaround until https://github.com/Qiskit/qiskit-terra/issues/7093 gets resolved. This issue is used to keep track of revoking this workaround.

Another possibility would be to construct `self._vqe` freshly every time `get_solver` gets called. But we decided against tha

[2021-10-04 15:27] pbark opened #385 "BKSF Mapper is not working with Fermionic Op sparse labelling"
### Information

- **Qiskit Nature version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
Currently Bravyi Kitaev Super Fast Mapper does not work with sparse labelling of the Fermionic Operator.
We need to add a unittest on this too.

### Steps to reproduce the problem
This snippet raises an Error
[code]
whereas this snippet works
[code]

### What is the expect

[2021-10-05 14:11] Cryoris commented on #370
There's the option to reconnect the callback after the stream broke with `job.stream_results(callback)` though that's something the `VQEClient` would need to take care of since we don't expose the `job`. However I'm not sure if that's the right approach, since users/we aer usually interested in the history and don't care so much about the data being sent back in real time.

[2021-10-06 13:14] mrossinek commented on #379
The IBM Quantum Experience runs on a server which has fixed amounts of memory resources available to it. There is no way in which a user can influence this.

However, it may help if you could provide a few more details what you are trying to do. Depending on your application it may rather be that we need to decrease the memory requirements on the software side.
@woodsp-ibm previously heard of memo

[2021-10-06 14:11] woodsp-ibm commented on #379
This has some discussion around kernel failing (that seemed to be due to memory) https://qiskit.slack.com/archives/CB6C24TPB/p1631104246170900 - a workaround was to use a different mode for the simulation but that only applies to Aer simulator.

Here is also a Terra issue regarding memory and circuit size Qiskit/qiskit-terra#6991

It maybe that improvements in memory end up allowing larger computa

[2021-10-07 10:36] #375 closed

[2021-10-10 20:55] JoelHBierman opened #392 "BravyiKitaevSuperFastMapper does not recognize sparse FermionicOp string labels"
### Information

- **Qiskit Nature version**: 0.2.1
- **Python version**: 3.9.5
- **Operating system**: MacOS 11.4

### What is the current behavior?

If an instance of `FermionicOp` is provided to the `map()` method of an instance of a `BravyiKitaevSuperFastMapper` object where `fermionic_op_instance.display_format` returns `sparse`, the mapper cannot recognize the constituent string labels of th

[2021-10-12 02:07] ikkoham commented on #383
Thank you. This enhancement is useful. It would be even more useful if we could also get the tensor product between FermionicOp and SpinOp.

[2021-10-14 08:24] mrossinek opened #396 "Leverage Dict-based `aux_operators`"
### What is the expected enhancement?

Terra has just added support for Dict-based `aux_operators` in its `Eigensolver` interfaces (https://github.com/Qiskit/qiskit-terra/pull/6870). This can greatly improve the handling within the property framework.

[2021-10-15 06:22] mrossinek commented on #396
I believe the aforementioned PR also slightly changed the `list`-based interface by removing one level of list-nesting. This went unnoticed until the CI on the `main` branch failed last night, presumably because the terra unittests do not cover the `aux_operators` interface? :thinking:

[2021-10-15 06:49] mrossinek commented on #396
Okay some more observations:

* the `NumPyEigensolver` has ([since its first commit](https://github.com/Qiskit/qiskit-aqua/blame/main/qiskit/aqua/algorithms/eigen_solvers/numpy_eigen_solver.py#L225)) returned the auxiliary operator eigenvalues as a tuple: `(value, 0)`. [current code](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/algorithms/eigen_solvers/numpy_eigen_solver.py#L192). It is

[2021-10-22 10:13] mrossinek opened #398 "`BOPESSampler` does not support `MinimumEigensolverFactories`"
### Information

- **Qiskit Nature version**: cb05d69661a9d467aed9d3f208ea5630f7dc9fbf
- **Python version**: 3.9.7
- **Operating system**: Linux

### What is the current behavior?

[code]

### Steps to reproduce the problem

[code]

### What is the expected behavior?

The `BOPESSampler` should support `MininmumEigensolverFactory` classes.

### Suggested solutions

Add a check similar to the one in

[2021-10-22 10:16] mrossinek opened #399 "`Molecule` has no setter for `degrees_of_freedom`"
### What is the expected enhancement?

The `Molecule` class provides property getter and setter methods for all of its attributes **except** for `degrees_of_freedom`. I don't see a good reason why this setter should not exist and suggest that we add it.

[2021-10-22 10:29] mrossinek opened #400 "`GaussianForcesDriver.from_molecule` improvements"
### What is the expected enhancement?

The `GaussianForcesDriver.from_molecule` method currently has two limitations:
1. It hard-codes the `B3LYP` functional which should really be a configurable option.
2. It ignores `driver_kwargs` (which needs to be changed if the above functional should be made configurable in an easy fashion)

On another note: technically it would be possible to use the `Vibr

[2021-10-22 10:38] mrossinek opened #401 "`VibrationalStructureResult` mode formatting is wrong"
### Information

- **Qiskit Nature version**: cb05d69661a9d467aed9d3f208ea5630f7dc9fbf
- **Python version**: 3.9.7
- **Operating system**: Linux

### What is the current behavior?

The formatting of the occupied modals when printing a `VibrationalStructureResult` is wrong:
[code]

### Steps to reproduce the problem

[code]

### What is the expected behavior?

Instead the correct formatting would b

[2021-10-22 10:43] mrossinek opened #402 "`VibrationalStructureResult` does not print excited state energies"
### Information

- **Qiskit Nature version**: cb05d69661a9d467aed9d3f208ea5630f7dc9fbf
- **Python version**: 3.9.7
- **Operating system**: Linux

### What is the current behavior?

When printing a `VibrationalStructureResult`, the excited state energies are not being printed:
[code]

### Steps to reproduce the problem

[code]

### What is the expected behavior?

I would expect a section like in th

[2021-10-22 10:45] mrossinek opened #403 "Evaluate `aux_operators` on excited states with `QEOM`"
### What is the expected enhancement?

The `QEOM` algorithm currently does **not** evaluate the `aux_operators` on the excited states. This would be a good addition.

[2021-10-22 10:52] mrossinek opened #404 "`QubitConverter` warns about skipping 2-qubit reduction even if not requested"
### Information

- **Qiskit Nature version**: cb05d69661a9d467aed9d3f208ea5630f7dc9fbf
- **Python version**: 3.9.7
- **Operating system**: Linux

### What is the current behavior?

The `QubitConverter` warns about skipping the 2-qubit reduction, even in cases where it has neither been requested nor is available:
[code]

### Steps to reproduce the problem

[code]

This is a simple (albeit unusual)

[2021-10-22 14:30] cpossel opened #405 "Gaussian driver qcmatrixio extension not found"
### Information

- **Qiskit Nature version**: 0.2.2
- **Python version**: 3.8.12 (also tested with 3.9.7)
- **Operating system**: Windows10 / Windows Server 2021 R2 (each 64 bit)

### What is the current behavior?

When starting VQE calculation using Gaussian as driver the following error occurs:
[code]

### Steps to reproduce the problem

The whole error traces down to this:
go to `path\to\qiskit

[2021-10-27 07:59] orihhx opened #407 "Can qiskit nature use a custom Hamiltonian and then uccsd ansatz to operate？"
### What is the expected enhancement?
Recently, I want to use qiskit nature for some calculations, but the molecular structure in qiskit cannot satisfy me. Therefore, I have constructed the model and generated the Hamiltonian through a reasonable method, but I can't transfer it into qiskit nature for calculation. I don't know if there is any method to solve this problem? In fact, the custom Hamilt

[2021-10-31 22:44] gonzrubio opened #410 "ModuleNotFoundError: No module named 'qiskit_nature.drivers.second_quantization'"
### Information

- **Qiskit Nature version**: 0.1.4
- **Python version**: 3.9.5
- **Operating system**: Windows10

### What is the current behavior?
ModuleNotFoundError: No module named 'qiskit_nature.drivers.second_quantization'

### Steps to reproduce the problem
from qiskit_nature.drivers import Molecule
from qiskit_nature.drivers.second_quantization import ElectronicStructureDriverType
from qi

[2021-11-01 13:03] woodsp-ibm commented on #410
The cause of the issue you report is this

The drivers were refactored in version 2 so you need to update your Nature install to run any code that imports the drivers from their new refactored location - the latest version is 0.2.2.

[2021-11-03 07:36] ChrisW918 opened #412 "Operator_Pools in adapt_vqe"
Hi,

Previously, I tested the ground state energy for several molecules using VQE, and the performance was pretty well compared to classical FCI energy.

And lately, I tried to implement adapt_vqe and see how it goes, yet there is one section I don't really understand. That is, the `operator_pool`  which is written in module `operatorBase`. I read the related paper [_An adaptive variational algori

[2021-11-03 13:13] mrossinek commented on #412
Our implementation of the `AdaptVQE` algorithm relies on using a `UCC` ansatz (see [here](https://github.com/Qiskit/qiskit-nature/blob/main/qiskit_nature/algorithms/ground_state_solvers/adapt_vqe.py#L179)).
Depending on the variant of `UCC`, you can have any set of excitations, but the key which we are interested in, is that we have a pool of operators out of which to choose from, while builing up

[2021-11-03 14:08] mrossinek commented on #399
Sure thing! Please go ahead :slightly_smiling_face:

[2021-11-04 03:03] ChrisW918 commented on #412
Thanks for your answer @blakejohnson. Also, may I remain this issue longer that in case I would have some questions after test adapt-vqe.

[2021-11-04 07:23] mrossinek commented on #412
I'm not quite sure what you mean, but yes, we can leave this issue open.
In case we don't hear back from you within 2 weeks, that's usually when we would consider closing it.

[2021-11-04 13:36] #399 closed

[2021-11-04 18:37] woodsp-ibm commented on #384
As the above Terra PR has been merged it would be possible to do this now so I removed the on hold label.

However I am wondering whether a better approach would be to let the user pass in a VQE instance, that the factory then uses, and have a getter/setter for it like the ansatz. Since the intent seems to be to re-use the vqe/uccsd instances. By passing in a VQE instance the user is free to set i

[2021-11-04 20:59] woodsp-ibm opened #415 "QEOM evaluation of operators"
In unit test module [algorithms/excited_state_solvers/test_bosonic_esc_calculation.py](https://github.com/Qiskit/qiskit-nature/blob/main/test/algorithms/excited_state_solvers/test_bosonic_esc_calculation.py) the test [test_vqe_uvccsd_factory()](https://github.com/Qiskit/qiskit-nature/blob/f73b8c182451939f3f386389291156a813cdfa53/test/algorithms/excited_state_solvers/test_bosonic_esc_calculation.py

[2021-11-05 16:25] mrossinek commented on #415
I am not sure I grasp all the details of this just yet but it seems rather familiar...
Could this possibly be related to #52?

[2021-11-05 23:39] pranavm1502 opened #416 "Error installing PySCF library"
### Information

- **Qiskit Nature version**: 0.2.2
- **Python version**: 3.8.8
- **Operating system**: Mac OS Big Sur 11.2.3

### What is the current behavior?
[code]

### Steps to reproduce the problem
pip install ' qiskit-nature[pyscf]'

### What is the expected behavior?
Successful installation

### Suggested solutions
There seems to have been a similar issue with the direct installation of Py

[2021-11-06 17:53] JoelHBierman commented on #416
There are a few known issues for installing pyscf on macOS, but it seems possible to do. See pyscf#1096.

[2021-11-06 18:36] JoelHBierman opened #417 "Possible PYSCFDriver compatibility issues with Pyscf 2.0.1"
### Information

- **Qiskit Nature version**: 0.2.2
- **Python version**: 3.9.6
- **Operating system**:  MacOS 11.4 (arm64)

### What is the current behavior?

running the code:

`from qiskit_nature.drivers import PYSCFDriver`

results in the following errors: (It seems there are several.)

[code]

### Steps to reproduce the problem

Install pyscf using the solution figured out at: https://github.

[2021-11-06 22:25] #417 closed

[2021-11-07 18:57] woodsp-ibm commented on #417
Just as an FYI there is a PR #414 here which changes the setup.py to remove the version restriction that is in place when you do `pip install qiskit-nature[pyscf]` to install it as an optional extra. As you can see tests work fine under linux with 2.0.1 and mac is failing pending wheels for Mac being published.

[2021-11-07 19:02] woodsp-ibm commented on #416
If you install pyscf via qiskit nature extra requires i.e. `pip install qiskit-nature[pyscf]` then it will install compatible versions that we test with and are known to work (at present it limits things to 1.7.6). There is a PR here #414 that is addressing the new version of PySCF that was recently released.

[2021-11-07 22:20] JoelHBierman commented on #417
Yes, the main issue seems to be that installing pyscf via pip does not automatically install the libicnt, libxc, and libxcfun libraries as it should. It also seems that building pyscf with the clang compiler does not work. It has to be changed to something else, but it is not clear to me whether this is specific to arm64 or if it also applies to x86.

[2021-11-08 14:13] #342 closed

[2021-11-08 15:59] mrossinek opened #419 "Simplify logging configuration"
### What is the expected behavior?

Qiskit Aqua used to provide some simplified means of enabling Python's internal logging for certain modules:

https://github.com/Qiskit/qiskit-aqua/blob/main/qiskit/chemistry/_logging.py#L30-L37

I believe, Qiskit Nature would benefit a lot from a similarly simple configuration setting.
#406 is adding a `qiskit_nature.settings` object which permits simple global

[2021-11-08 19:11] pranavm1502 commented on #416
Thanks! `pip install qiskit-nature[pyscf] -U` worked now.

[2021-11-08 19:11] #416 closed

[2021-11-09 09:43] mrossinek commented on #241
@Brogis1 was right. This does indeed appear to be fixed, too, now that we closed #342.

After fixing the above snippet by specifying a `quantum_instance` and `opt` (which were missing) I was successfully able to run the simulation without running into errors. Below is the output using `opt = None` (which falls back to `SLSQP` in Terra) and `quantum_instance = QuantumInstance(Aer.get_backend("aer_s

[2021-11-09 09:43] #241 closed

[2021-11-09 12:45] mrossinek commented on #384
I like this idea of passing in a VQE instance. If we do this, we should arguably deprecate the other getter/setter methods and `__init__` arguments in favor the properties exposed on the `VQE` directly. What do you think?

[2021-11-09 13:04] mrossinek commented on #312
This issue will become resolvable once #406 is merged. However, even then, using the feature proposed in this issue will always require dictionary-based `aux_operators`. The reason being that only then will it become possible to refactor the `GroupedElectronicProperty` and `GroupedVibrationalProperty` classes such that they are no longer abstract (in contrast, currently they are because the `secon

[2021-11-09 13:33] woodsp-ibm commented on #384
Yes, given a getter/setter for VQE the instance is always then available via the factory and it can be changed directly; exposing aspects of VQE, whether via the constructor or properties, I would agree should then be deprecated/removed. I would expect VQE to be changing as these expectation objects are introduced using an directly would allievate trying to keep it in sync. The one things is that

[2021-11-09 13:55] woodsp-ibm commented on #384
One other thought - maybe we should thing about allowing an instance of the VQEClient runtime here too as an alternative to the local running VQE. While UCCSD maybe problematic today on an actual device the runtime can still be used with the remote simulator right.

[2021-11-10 10:06] ChrisW918 commented on #412
Hi @mrossinek , I looked the code of adapt-vqe, and it seems your way of computing gradient for operators in pool is a little different from the means referred in [ An adaptive variational algorithm for exact molecular simulations on a quantum computer.](https://www.nature.com/articles/s41467-019-10988-2#data-availability)

You choose to generate the gradient by measuring E(theta+delta) and E(thet

[2021-11-10 12:28] #410 closed

[2021-11-10 12:33] mrossinek commented on #412
It's been a while since I had a look at that paper. And in fact the implementation of our `AdaptVQE` algorithm originally resulted out of the Qiskit Camp Europe 2019. It is possible that we took a different approach to the computation of the gradients than suggested in the paper.

Right now there is actually an ongoing project which is refactoring the gradient computation to leverage Qiskit Terra'

[2021-11-10 18:07] #404 closed

[2021-11-10 19:15] tony9664 opened #424 "Question about the protein folding tutorial"
### What is the expected enhancement?

I read the protein folding tutorial (https://github.com/Qiskit/qiskit-nature/blob/main/docs/tutorials/09_Protein_Folding.ipynb) and get confused about the 'side chain' term used in the document. Naturally a protein is folded from a single linear chain of amino acids, without any branches. The term 'side chain' is used to refer to the functional groups (or R g

[2021-11-10 23:01] manoelmarques commented on #405
I have a Windows 10 VM with latest updates and I was able to run the gaussian unit tests for Python 3.8. I use Anaconda. When I run dumpbin for the dll:
[code]
Are you using anaconda ? It comes with `libifcoremd.dll` and `VCRUNTIME140.dll`. I believe you may be missing a dll dependency that `qcmatrixio.cp38-win_amd64.pyd` loads.

[2021-11-11 08:03] jschuhmac commented on #402
@mrossinek You can assign me to this issue.

[2021-11-11 09:09] jschuhmac commented on #401
@mrossinek You can assign me also to this issue (related to #402).

[2021-11-11 09:21] cpossel commented on #405
@manoelmarques The list of dependencies gave me the needed hint. Thanks a lot!
The DLL `libifcoremd.dll` was missing.
Running `conda install -c anaconda intel-fortran-rt` installed the missing DLL and now it's working fine.

[2021-11-11 09:21] cpossel commented on #405
At least in my case `libifcoremd.dll` was not automatically installed in anaconda. So, maybe it was installed manually/indirectly somewhen earlier on your VM. Might I suggest adding a hint about that dependency in the [Gaussian installation instructions](https://qiskit.org/documentation/apidoc/qiskit.chemistry.drivers.gaussiand.html)?

[2021-11-11 14:20] woodsp-ibm opened #426 "Allow broader use of VQEClient in Nature"
While VQEClient is a MimimumEigenSolver and can be used in those contexts there are other places where we should be able to allow this to be used/leveraged but have not so far.

1. In mininum eigen solver factories that are building for example VQE+UCCSD that could be built out with VQEClient see #384 in which I commented in this regard.

2. For BopesSampler. With the extrapolation its looking for

[2021-11-11 18:07] manoelmarques commented on #405
If `libifcoremd.dll` you can install from conda `conda install icc_rt`. That will add the library to your environment.

[2021-11-12 07:23] mrossinek commented on #426
Thanks, @woodsp-ibm! This is very good point. In fact, I think your second point:

could also be solved by fixing #398. However, I agree that having the `VQEClient` implement the `VariationalAlgorithm` interface is also a good idea. Maybe we should do all three of these improvements :+1:

[2021-11-12 08:14] ikkoham commented on #43
More issue:

- [ ] Kagome Lattice
- [ ] Honeycomb lattice

[2021-11-12 13:42] cpossel commented on #405
I tested your suggested `conda install icc_rt` and can confirm that it works, too.

[2021-11-12 16:55] #405 closed

[2021-11-13 10:23] HenryMakowitz opened #429 "Source Code for DFT Quantum Code Not Available"
### What is the expected enhancement? Source Code Availability

Sirs ;

You state in your Article cited below that your source code will be available.
When will it be placed in the cited repository ? I checked today and I did not
( or could not ) find it. Please advice.

Re: Your Article ; " Quantum HF/DFT-embedding algorithms for electronic
structure calculations: Scaling up to complex molecular

[2021-11-17 15:50] woodsp-ibm opened #434 "ActiveSpaceTransformer fails when num_electrons is tuple"
### Environment

- **Qiskit Nature version**: 0.2.2
- **Python version**: 3.8
- **Operating system**: Any

### What is happening?

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

### How can we reproduce the issue?

[code]

### What should happen?

Should work with tuple as API states

### Any suggestions?

This is the failing code that need

[2021-11-17 16:59] pbark commented on #424
Hi @tony9664 ,

thanks a lot for checking out the tutorial on protein folding. Currently for side chains in the problem we support one single bead (aminoacid) per side chain binding point. The definition of side chains in organic chemistry (as a functional group) is not the same as the one for aminoacid side chains used more in biochemistry. Here we follow the later and in a general case amino aci

[2021-11-17 17:52] tony9664 commented on #424
Thanks for answering. If I am understanding correctly, the course-grained model from Miyazawa et al used one bead to represent a whole residue and all the atomic details are lost ( including backbone atoms C,O,N,H and sidechain atoms). Therefore, using one bead for each residue should be good enough (like Figure 2(b) of this paper https://www.nature.com/articles/s41534-021-00368-4 ). Adding one or

[2021-11-22 10:07] mrossinek commented on #434
This bug actually only occurs when the `active_orbitals` argument is used, too. I will open a PR to fix this in a second :+1:

[2021-11-22 15:05] #373 closed

[2021-11-22 21:24] woodsp-ibm opened #436 "BKSF mapper fails to map H2 operator from driver"
### Environment

- **Qiskit Nature version**: `main` branch (did not try release)
- **Python version**: 3.6
- **Operating system**: Linux

### What is happening?

In #432 I was asked had I tried with BKSF as I had added Parity and BK mappers into the [test_excited_states_solvers.py](https://github.com/Qiskit/qiskit-nature/blob/main/test/algorithms/excited_state_solvers/test_excited_states_solvers.

[2021-11-23 11:11] iuliazidaru commented on #398
May I try to solve this issue?

[2021-11-23 11:52] mrossinek commented on #398
Sure, please go ahead! :slightly_smiling_face::+1:

[2021-11-23 15:02] mrossinek commented on #436
This appears to boil down to the fact that the `BKSFMapper` is unable to handle all-identity operators like `IIII`.
@jlapeyre could you take a look at this one?

[2021-11-23 15:23] HehnLukas opened #437 "Method for finding amount of iterations and measurements of a VQE"
Hi, I'm relatively new to QC so I'm sorry if there is something obvious I am missing. I would like to find out how many measurements and gates a VQE takes for the execution. For example when I run the code given in the readme, but with the two_qubit_reduction set to False, I get this ansatz:
[code]

If I understand correctly, each R(θ) is a classical parameter optimization which requires a measure

[2021-11-24 07:58] mrossinek commented on #429
The DFT Embedding is actively being worked upon and we will publish it once the implementation is of production quality and integrated properly into Qiskit Nature.
We are tracking the progress over in #26, which you can subscribe to (in the right-hand column) in order to receive updates.

[2021-11-24 07:58] #429 closed

[2021-11-24 08:19] iuliazidaru commented on #398
I need a bit of help.

In sample I see that we have to use **ElectronicStructureMoleculeDriver**:
`raise QiskitNatureError(
                "Driver must be ElectronicStructureMoleculeDriver or VibrationalStructureMoleculeDriver."
            )
`

I am trying to obtain a solver:
[code]
The NoneType is `problem.grouped_property_transformed`. It is populated when **second-quantized** operators are ge

[2021-11-24 10:32] mrossinek commented on #412
I'm closing this in the assumption that the above discussion is resolved. We can reopen if necessary.

[2021-11-24 10:32] #412 closed

[2021-11-25 06:51] HenryMakowitz commented on #26
Please Let me know when a DFT Quantum Code is available for distribution.
Thanks.
Dr. Henry Makowitz, PhD

[2021-11-25 08:59] #323 closed

[2021-11-25 09:40] #401 closed

[2021-11-25 09:40] #402 closed

[2021-11-26 10:30] HuangJunye opened #441 "`GroundStateEigensolver.solve()` should be async and return a job id when using real backend"
### What is the expected enhancement?

Even with Qiskit Runtime, a typical VQE program can take more than one hour to run on a real backend, plus queue time. The currently workflow where result has to wait until `solver.solve(problem)` is done is not very friendly for real backend. I would like to suggest a new workflow that is similar to `backend.run(circuit)` for running QASM jobs.

Current work

[2021-11-26 14:46] woodsp-ibm commented on #441
Can you elaborate on what you mean by ` is done is not very friendly for real backend.` I would like to understand the problem that this proposal is solving.

I imagine waiting involves holding a remote socket open, and maybe other remote resources involved with this. Currently the workflow is agnostic to whether a remote or local "algorithm" (e.g. VQE) instance in some form is used. What is the e

[2021-11-30 07:50] fretchen commented on #383
Indeed, the proposition by @ikkoham would certainly simplify life for people working on lattice gauge theories and things like the Kondo problem (me for example).

[2021-12-01 08:05] Cryoris opened #444 "Runtime programs should store the history w/o requiring active user-server link"
### What should we add?

To obtain the history of a VQE run right now, we pass a callback into the `VQEClient` that forwards information from the energy evaluation on the runtime server back to the user. However, if the connection between the user and server is interrupted, the information is lost until the connection is manually restored.

It would be great if instead we could also store the call

[2021-12-01 14:00] #396 closed

[2021-12-01 15:37] woodsp-ibm commented on #444
In caching it on the server, how about just repeatedly calling the callback with any cached values when the connection is restored. Hence a user would see 'normal' behavior and not have to deal with say plotting the rest of the graph where part of what normally came via the callback came in the result. Yes the timing would look different with a bunch of calls being given in a burst, but I think th

[2021-12-01 15:53] Cryoris commented on #444
That would be another option, but detecting that the stream broke and automatically reconnecting is probably more difficult to implement. Also, we could think of just allowing a flag to store the data without having to pass a callback function which would be even simpler for the users.

[2021-12-01 17:04] woodsp-ibm commented on #444
Having the data all at once at the end seems fine - more of a post-mortem approach. The callback allows one to monitor as things are progressing, so in my mind it would be nice if things could continue after an interruption. Of course if the algorithm has run to the end its more or less the same except being in the result you have to code to handle/process it that way too from the result; maybe we

[2021-12-03 07:21] Contextualist opened #449 "Question on UCCSD with VQEClient/VQEProgram runtime"
### Environment

- **Qiskit Nature version**: 0.2.2
- **Python version**: 3.9.7
- **Operating system**: x86_64 GNU/Linux

### What is happening?

I tried to set up UCCSD ansatz to for `VQEProgram`, but the ansatz failed to be transpiled in the remote. In particular, I am seeing the following exception being returned:

[code]

<details>
<summary> Full traceback from the remote runtime </summary>

[

[2021-12-03 07:24] mrossinek commented on #449
Hi @Contextualist! I have also seen this error before, thanks for raising it! You can get it to work be calling `.decompose()` on your final ansatz before returning from your custom `VQECientUCCFactory`.

I will leave this issue open as this is likely something we should fix internally but the above workaround should make things work for you in the meantime. Let me know if this still does not help

[2021-12-03 07:36] Contextualist commented on #449
Thanks for your prompt response, @mrossinek ! I tried to do the following edit for the `VQEUCCFactory.get_solver`:

[code]

However, I am still seeing the same error. Here is what the decomposed circuit looks like:

[code]

[2021-12-03 07:42] mrossinek commented on #437
Hi there!

There are multiple questions here so I will try to answer them one by one:

- How to get the number of gates in your VQE: You were quite close with `ansatz.count_ops()`. You can see already that there are 2 `X` gates which likely come from your initial state. The other entry in that dictionary, `TwoLocal` is not very informative because the counting is done on the non-decomposed ansatz.

[2021-12-03 07:47] mrossinek commented on #449
Right, sorry about that! What you actually need to do is to transpile the circuit with a subset of supported basis gates. I did something similar in a workshop whose notebook I posted as a Gist, [here](https://gist.github.com/mrossinek/df165c28067d56cf99c7e53b91440f58) (cell 26). Basically you can try the following:
[code]

[2021-12-03 13:46] Contextualist commented on #449
I just tried it out. I can confirm that the basis gate transpilation workaround works. Thanks!

[2021-12-03 21:39] jlapeyre commented on #436
In the case given in the example above the problem can be solved by checking that coefficient is zero. Then we can skip analyzing the term.  A check for zero coefficient should be added just to save some computation.

But, I'll have to do something more to solve the general problem.

[2021-12-06 15:54] jlapeyre commented on #436
I've made a few changes needed for corner cases.
But, running the example above, I encounter a Fermionic Hamiltonian
that looks like this
[code]
which is converted correctly to the dense operator
[code]

I don't think the the electronic structure problems should produce terms with unbalanced raising and lowering operators. In fact this is not just a term, but the entire Hamiltonian, and it's not H

[2021-12-06 16:25] jlapeyre commented on #436
It looks like we always handle the "nuclear repulsion" energy only at the very end of the VQE. This makes sense. But, we should probably avoid constructing input Fermionic operators that have a term proportional to the identity, even if the coefficient is zero. I don't know if this is a bug or an oversight.

[2021-12-07 14:52] woodsp-ibm commented on #436
The sample code above, that would reproduce the reported failure, shows the result as output from when using BK mapper. I think this is consistent with Parity or JW mappings i.e. sensible

[2021-12-07 14:56] jlapeyre commented on #436
Ok. I'll compare with the other mappings.

[2021-12-09 13:13] mrossinek commented on #436
Hi @jlapeyre, thanks for looking into this! What you're observing here is actually the `FermionicOp`-representation of an initial `HartreeFock` state. You're right, that this is not a Hamiltonian which we expect to encounter.
For the HF initial state we need to initialize the occupied qubits according to the occupied spin orbitals in the second quantization space. Since refactoring to our more mod

[2021-12-09 13:29] woodsp-ibm commented on #436
In Aqua we had the JW, Parity and BK mappers, which the UCCSD, HF state and core supported via strings denoting which mapping was used and the HF state was computed directly from knowing the mapping denoted by the string - as you have indicated by your link above. The BKSF mapper was added later, after the aforementioned code was already there. It could be used to map a FermionicOperator but was n

[2021-12-10 10:00] mrossinek commented on #436
Thanks, @woodsp-ibm, for the insight! I also had a quick discussion with @pbark offline and we think, that for the time being, we should simply fix as much as possible (as done in #451) and add a check inside of `HartreeFock` which raises a useful error to the user when detecting the `BKSF` mapper, preventing the more cryptic error message which we currently observe.

@jlapeyre is that something y

[2021-12-10 20:34] kevinsung opened #459 "Preparation of Slater determinants and fermionic Gaussian states"
### What should we add?

Slater determinants and fermionic Gaussian states are important classes of initial states for quantum simulations which can be efficiently prepared on a quantum computer [1]. Qiskit Nature should include routines to generate circuits to prepare these states. Efficient algorithms to prepare these states are described in [arxiv:1711.05395](https://arxiv.org/abs/1711.05395),

[2021-12-13 18:42] kevinsung opened #460 "Data structures for quadratic and other Hamiltonians"
### What should we add?

A quadratic Hamiltonian is composed of terms that are quadratic in the ladder operators:
![image](https://user-images.githubusercontent.com/4296166/145867381-4f14e16d-e312-4446-82ad-0eb1a860452d.png)
Quadratic Hamiltonians arise in mean-field models and their eigenstates are an important class of states that can be efficiently prepared on a quantum computer. The most conve

[2021-12-15 20:34] kevinsung opened #463 "spell check fails locally"
### Environment

- **Qiskit Nature version**: dcdd1ddc6da85cbecaeae9b3689af1548fd1e8aa
- **Python version**: 3.6, 3.9
- **Operating system**: RHEL 8.5

### What is happening?

The spell check fails locally. This is giving me problems with debugging the CI failure at #462 .

### How can we reproduce the issue?

1. Create a fresh virtual environment
2. Install qiskit-nature from source, along with t

[2021-12-15 20:45] mrossinek commented on #463
I ran into the same problem in the past. Somehow the standard english dictionary installed in the OS used by the CIs (I think that's Ubuntu-based) does not match the dictionary installed in Fedora/RHEL. I have worked around this by extending the local dictionary of my OS with the list of words which fail on `main`. I'm on a different machine right now so cannot check which path this is really in.

[2021-12-17 07:13] mrossinek commented on #463
Alright you should be able to add the missing words to `~/.config/enchant/en_US.dic`. Here are the contents of mine:
[code]
Let me know if this fixes things for you :+1:

[2021-12-17 08:58] Cryoris opened #465 "Initialize ``Lattice``s with ``networkx.Graph``s"
### What should we add?

It would be nice to allow the initialization on ``Lattice``s not only with retworkx graphs but also with networks graphs. Networkx, to date, still has a lot more features and pre-defined graphs that users have access to, and is probably _the_ standard graph library in Python.

[2021-12-17 09:02] Cryoris opened #466 "Type check edge weights in ``Lattice`` constructions?"
### What is the expected enhancement?

Right now, a ``Lattice`` can be constructed from a graph with any value for the edge weights, e.g.
[code]
In the above case, the construction of a second quantized op or a qubit op based on the lattice will obviously fail. But there might be more subtle cases.

It would be nice to type check the weights and ensure that they are numeric (or in some supported f

[2021-12-17 13:06] mtreinish commented on #465
I agree with everything in this issue, I would appreciate issues being opened on retworkx when you encounter a feature gap. Mainly because we'd like retworkx to be usable everywhere and we can prioritize features needed for a real use case. It's hard to know which functionality to prioritize without requests from users.

As an aside the current dev branch has a bunch of new graph generators, you c

[2021-12-17 13:37] Cryoris commented on #465
This issue is not mainly because I was encountering a particular feature gap, but I was more generally concerned about supporting networkx since it's more standardized 🙂

[2021-12-17 15:42] kevinsung commented on #463
Thanks @mrossinek , that fixed those errors. If this is the best solution, then it should at least be documented somewhere, so I suggest we leave this issue open until that is done or a better solution is found.

[2021-12-17 15:46] kevinsung opened #469 "spell check gives warning, treated as error"
### Environment

- **Qiskit Nature version**: dcdd1ddc6da85cbecaeae9b3689af1548fd1e8aa
- **Python version**: 3.9
- **Operating system**: RHEL 8.5

### What is happening?

The spell check gives a warning, which is by default treated as an error.

### How can we reproduce the issue?

1. Create a fresh virtual environment
2. Install qiskit-nature from source, along with the dev tools.
3. Run `make sp

[2021-12-17 16:41] mrossinek commented on #469
Hi @kevinsung! I was able to reproduce this but subsequently able to fix it be ensuring two things:
- having the latest updates of the requirements installed:
[code]
- running `make clean_sphinx` to ensure the sphinx cache is empty

Can you please check if that fixes things for you?
If yes, you will likely see one more spelling error related to the word "onsite" which will also get fixed by #470.

[2021-12-17 17:35] #463 closed

[2021-12-17 18:37] kevinsung commented on #469
Thanks, that fixed it!

[2021-12-17 18:37] #469 closed

[2021-12-20 10:10] Cryoris commented on #449
The source of it was Qiskit/qiskit-terra#7429, which still persists, but since Qiskit 0.33 the UCCSD ansatz uses the new `PauliEvolutionGate` which doesn't construct a circuit with empty gates anymore. So in brief, this bug shouldn't exist anymore.

I tried it myself but, @Contextualist, would you mind trying with the latest Qiskit versions as well?

[2021-12-20 20:11] kevinsung opened #473 "FermionicOp initializes successfully but throws IndexError on method call"
### Environment

- **Qiskit Nature version**: e39594b8ede4533af7d22b2b121f29d624e569ed
- **Python version**: 3.9
- **Operating system**: RHEL 8.5

### What is happening?

FermionicOp initializes successfully but throws IndexError on method call.

### How can we reproduce the issue?

Code:
[code]
Result:
[code]

### What should happen?

No error should occur.

### Any suggestions?

It seems to have

[2021-12-20 23:26] kevinsung opened #474 "Printing FermionicOp should show all terms"
### What is the expected enhancement?

Printing a FermionicOp should display all its terms. This is essential for debugging. For example:
[code]
Output:
[code]
Only some of the terms are printed. This behavior makes it very hard to debug issues when you want to check whether a FermionicOp is what you think it is.

[2021-12-21 03:48] Contextualist commented on #449
Thank you, @Cryoris ! I just tested with the following settings:
- Qiskit version: 0.34
- Qiskit Nature version: 0.3.0

and the bug cannot be reproduced with the original setup

[2021-12-21 03:48] #449 closed

[2021-12-21 07:17] mrossinek commented on #473
I'm actually surprised that the initialization of `FermionicOp([("+_1", 1.0), ("", 1.0)])` is working. It should _not_.
When using sparse labels, you have to specify `register_length`, otherwise the operator cannot know it's size. Thus, your suggestion at the end is actually the only way that this should work.

I'm leaving this open as a bug until we raise the correct error upon initialization.

[2021-12-21 07:19] mrossinek commented on #474
You need to disable the printing truncation, as documented in the section "Output of str and repr", [here](https://qiskit.org/documentation/nature/stubs/qiskit_nature.operators.second_quantization.FermionicOp.html#fermionicop):
[code]

[2021-12-21 07:19] #474 closed

[2021-12-21 13:55] kevinsung commented on #474
Ah I missed that, thanks!

[2021-12-21 14:04] kevinsung commented on #473
I don't think you should be forced to specify a register length when initializing a FermionicOp using sparse labels. A creation operator acting on a particular fermionic mode is a valid operator regardless of how many total modes there are.

[2021-12-21 16:12] mrossinek opened #477 "Support `UnitsType.BOHR` in `Molecule`"
### What is the expected enhancement?

Currently the `Molecule` class requires coordinates in Angstrom and is not capable of handling other unit types by itself.
In fact, it does not even take a `units` argument to its constructor based on which one could guard against unit-related errors such as the one fixed by #476.

Thus, the following things can be improved:
- add a `unit` (or `units` ?) argu

[2021-12-21 20:40] Ryand1234 commented on #477
Can I work on this issue?

[2021-12-22 02:07] ikkoham commented on #473
The `register_length` is supposed to be inferred automatically (the largest index + 1), so I assume it is not working.
In any case (regardless of whether it is inferred or given,), register_length is required.

[2021-12-22 03:46] ikkoham opened #479 "Support VQEClient.retrieve_job()"
### What is the expected enhancement?

I want this method because I sometimes want to retrieve a runtime job later. Is there another way?

[2021-12-22 06:03] ikkoham opened #480 "Runtime VQEProgram error"
### Environment

- **Qiskit Nature version**:
- **Python version**:
- **Operating system**:

### What is happening?

Related to: https://github.com/Qiskit/qiskit-ibm-runtime/issues/63

The problem is that the number of outputs returned does not match the inputs, even though 6 auxiliary operators are input. This is a problem on the Runtime server side, but I'll leave it as an issue to keep track.

[2021-12-22 07:34] mrossinek commented on #477
Sure, please go ahead! :)

[2021-12-31 03:11] JoelHBierman opened #489 "What is the default reference state for the UCCSD ansatz?"
Hi, this issue is mainly a question that pertains to the documentation for the UCC and UCCSD ansatzes. The unitary coupled cluster ansatz is typically defined with respect to some specified reference state. This could be the Hartree Fock state, but it does not necessarily have to be. For UCCSD, the T_1 and T_2 operators consist of a summation over an index of orbitals that are unoccupied in the re

[2022-01-04 11:46] mrossinek commented on #489
Hi @JoelHBierman :slightly_smiling_face:

You are raising a very good question! I just double checked the [docs](https://qiskit.org/documentation/nature/stubs/qiskit_nature.circuit.library.UCC.html#qiskit_nature.circuit.library.UCC) and you are absolutely right, that they are quite ambiguous.

The `UCC` Ansatz was historically developed in conjunction with ground-state calculations. As such, it ha

[2022-01-04 16:41] kevinsung opened #493 "Initialize FermionicOp with tuple as label"
### What is the expected enhancement?

The only way to initialize a FermionicOp is by providing a string label (i.e. `"II+"` or `"+_2"`, etc.). This is awkward when writing code that generates FermionicOps programmatically, where it is much more natural to use a tuple `(index, action)` instead, (i.e. `(2, 1)` instead of `"+_2"`).

[2022-01-05 20:17] DevelopDaily commented on #258
@mrossinek  Just a friendly reminder. The PySCF has already produced the required release. But, I notice the default PySCF version on the Quantum Lab is still too old. Would you please upgrade it?

For now, I have to run this myself to get the things going.

!pip install --upgrade pyscf

[2022-01-06 01:33] ikkoham commented on #493
Thank you. Similar to my comment: https://github.com/Qiskit/qiskit-terra/pull/7401#issuecomment-994813989

@mrossinek @kevinsung Open question. which is better `(index, action)` or `(action, index)`?
Which type of action do you prefer? (integer: creation 1, annihilation 0, boolean: True for creation, False for annihilation, string: "+" and "-")

[2022-01-06 02:15] kevinsung commented on #493
On further thought I prefer `(action, index)` because the string labels `X_i` and `+_i` have the same order.

I think the actions should be integers because it may be useful to perform arithmetic on them. I prefer 1 for creation and 0 for annihilation.

This may be beyond the scope of this issue but I think it would be useful to generalize the "action" concept. For example, we could allow it to be

[2022-01-06 07:12] mrossinek commented on #258
Hi @DevelopDaily! I'm afraid that we are not the ones who are updating the packages on that server.

@woodsp-ibm @manoelmarques @stefan-woerner Do either of you know whom we need to contact in this regard?

[2022-01-06 07:23] mrossinek commented on #493
I agree with this :+1:

The generalizations of the action and index require some more discussion in my opinion. In that sense I think that these are indeed outside the scope of this issue.

[2022-01-06 15:05] HuangJunye commented on #258
@mriedem is probably the person to contact for updating python packages in Jupyter image.

[2022-01-06 21:10] mriedem commented on #258
The latest version of the user image in Quantum Lab now has unpinned pyscf (2.0.1).

[2022-01-09 23:43] DevelopDaily opened #500 "The GroundStateEigensolver is excruciatingly slow on the IBM Quantum Lab"
### What is the expected enhancement?

Though this may well be a Quantum Lab issue, I'd like to let you comment on it first.

Here is an excerpt of the code from the tutorial here https://qiskit.org/documentation/nature/tutorials/03_ground_state_solvers.html

[code]

When the simulator `aer_simulator_statevector` is used, the whole thing will be done in 3 seconds.

When the real IBM quantum hardwa

[2022-01-10 11:50] HuangJunye commented on #500
As far as I know, this is not something we can improve in qiskit-nature but in the whole stack of executing quantum circuits / programs on IBM Quantum. A new metric, Circuit Layer Operation Per Second (CLOPS), to benchmark execution of quantum circuits was introduced by IBM Quantum last year: blog (https://research.ibm.com/blog/circuit-layer-operations-per-second), paper (https://arxiv.org/abs/211

[2022-01-10 11:51] HuangJunye commented on #500
As this is an issue for qiskit-nature, I would suggest to close it.

[2022-01-10 11:56] HuangJunye commented on #479
You can retrieve runtime jobs using the following code. See also: https://qiskit.org/documentation/partners/qiskit_runtime/tutorials/00_introduction.html It's retrieved on the provider level not backend level as it is done for normal circuit / Qobj jobs.

[code]

But I agree that it would be a good idea to add `VQEClient.retrieve_job()` API.

[2022-01-10 12:03] bharath1996-hub commented on #400
Hi,  I am new to the contribution, I think this is a good place to start. Can I try to solve this?

[2022-01-10 13:50] mrossinek commented on #400
Hi @bharath1996-hub! Sure thing, please go ahead :slightly_smiling_face:

Please make sure to apply your changes to the class in the `qiskit_nature.drivers.second_quantization` module (and not in `qiskit_nature.drivers`).

[2022-01-10 13:58] mrossinek commented on #500
Thanks, @HuangJunye, for the explanations above. I agree with your comments.

@DevelopDaily you should also keep in mind that you are testing this on a __very__ small system. H2 in the STO-3G basis with the JW mapper results in a 4-qubit Hamiltonian. Thus, the classical solution of this system is indeed very fast.

[2022-01-10 13:58] #500 closed

[2022-01-12 05:00] jlapeyre commented on #436
Yes, I pushed a commit to #451 doing this.

[2022-01-12 23:09] jlapeyre opened #505 "Choose a policy for raising exceptions"
### What is the expected enhancement?

Currently, there are several different errors raised for the same event. For instance, if a method is passed an argument of the wrong type, we sometimes raise `ValueError` (wrong) , `TypeError` or `QiskitError`.

See this comment and following https://github.com/Qiskit/qiskit-nature/pull/451#discussion_r783276343 .

My first suggestion is to use built-in exce

[2022-01-14 03:54] DevelopDaily opened #508 "ElectronicStructureResult missing feature - ground state energy?"
### What is the expected enhancement?

I often see this image in published literature. I have studied the class `ElectronicStructureResult` and cannot find a function to retrieve the potential energy value `-432` shown in the image, after running the Qiskit [ground state solver tutorial](https://qiskit.org/documentation/nature/tutorials/03_ground_state_solvers.html). The `optimal_point` from the `

[2022-01-14 11:26] iuliazidaru commented on #479
May I work on this issue?

[2022-01-14 14:20] mrossinek commented on #398
I've had an offline discussion with @woodsp-ibm regarding PR #457. The question arose whether we really want to support a syntax like the one proposed there: `gss: Union[GroundStateSolver, MinimumEigensolverFactory]` + require a `QubitConverter` in the latter case...
Or whether instead we should stick to the (arguably more obvious) solution of doing:
[code]
I.e. instead of adding support for the f

[2022-01-14 15:10] iuliazidaru commented on #398
@mrossinek Yes, I'll check this next week.

[2022-01-18 10:41] nonhermitian opened #511 "BKSF mapper fails on LiH example"
### Environment

- **Qiskit Nature version**: 0.3.0
- **Python version**:
- **Operating system**:

### What is happening?

BKSF mapper fails on LiH example due to mult missing from `SparsePauliOp`:

[code]

### How can we reproduce the issue?

Just follow along here:

https://github.com/IBM-Quantum-Technical-Enablement/Fraunhofer-Dec-13-2021/blob/main/applications/qiskit-nature.ipynb

and replace

[2022-01-18 20:58] jlapeyre commented on #511
It looks like the test code for BKSF does not include a Hamiltonian that multiplies two `SparsePauliOp`. This is called composition and uses the symbol `&`. I'll make a PR to fix this.

[2022-01-20 07:50] iuliazidaru commented on #384
@mrossinek Thank you for thinking about this issue and providing so many comments here.
Please let me check if I understood correctly what this task is about:
MinimumEigenSolverFatory implementation should create an instance of solver and expose it via minimum_eigensolver method?

If I understand correctly the approach, based on the experience working on #510 I would have some comments.
First the

[2022-01-20 07:55] mrossinek commented on #384
Yes, all of the above is correct. However, I still consider this to be a factory (although not to the full extent), because `MinimumEigensolver` objects from Terra can be constructed piece-by-piece. This means that, although we initialize a solver during the factories `__init__` and store it's reference, this object will not be usable until the factories `get_solver` method populates the remaining

[2022-01-20 16:36] mrossinek commented on #508
Given the plot above I assume that you are interested in the _dissociation energy_ of H2 (because the plot appears to be normalized against the potential energy of two separate hydrogen atoms).
If that is indeed the case, then you will only be able to compute this value, using _two_ separate computations:
1. One at the equilibrium distance (`r = 74pm`)
2. And one at the dissociation limit (`r >> 4

[2022-01-20 16:36] #508 closed

[2022-01-20 20:39] Cryoris commented on #479
We already store the `job_id` in the result you get back from the `VQEClient`, so retrieving the job would be as easy as doing
[code]
Since we design our algorithms to be stateless we also wouldn't want to store the last job ID in the `VQEClient`. @ikkoham do you have a use-case in mind where calling something like
[code]
would be more useful than just directly calling
[code]
?

[2022-01-26 08:53] #437 closed

[2022-01-26 08:59] mrossinek opened #514 "Add `GroundStateSolver.is_variational()` check"
### What is the expected enhancement?

As discussed in https://github.com/Qiskit/qiskit-nature/pull/510#discussion_r789429305 a utility to check whether the solver used within `GroundStateSolver` is variational or not could pose useful for the implementation of the `BOPESSampler` and potentially other scenarios, too.
Such a check should be able to also handle the `MinimumEigensolverFactory` case i

[2022-01-26 10:11] ikkoham commented on #479
@Cryoris Thanks. You are right. I certainly don't think that VQE.retrieve_job is necessary. What I really want is something that makes it easy to make a `MinimumEigensolverResult` from the job_id.

[2022-01-26 10:46] mrossinek commented on #363
I just verified that this issue still occurs with the `CompleteMeasFitter` class being migrated to Terra:
`qiskit.utils.mitigation.CompleteMeasFitter`.

I will attempt to transfer this issue to Terra because this is not Nature-related.

[2022-01-26 10:48] mrossinek commented on #337
@jlapeyre do you think you could share you code for this in a draft PR or gist?

[2022-01-26 18:39] jlapeyre commented on #337
@mrossinek There are some choices in how to arrange this. Here is one scenario.

* Assume you always want to store the data in chemists' index order.
* Detect the index order upon construction and then convert to chemists' order
* Give a warning, or not, if the input data is in physicists' index order.
* Give a warning, or not, if the input data is in "intermediate" order. I haven't seen this orde

[2022-01-26 18:43] jlapeyre commented on #337
A pattern that I see in Qiskit is to put some more generally useful functions in a file `xxx_utils.py`. Then call these from class or instance methods. Other people like to put everything inside a class if possible. The problem with the latter is it makes the code unavailable to users who have a workflow that we did not anticipate.

[2022-01-26 19:38] jlapeyre opened #519 "Instance property should be class property"
### Environment

- **Qiskit Nature version**: a8a5d9b6 main branch
- **Python version**: 3.9
- **Operating system**:  Linux

### What is happening?

please

### How can we reproduce the issue?

see

### What should happen?

below

### Any suggestions?

This property is never mutated as far as I can tell.

https://github.com/Qiskit/qiskit-nature/blob/a8a5d9b6bd6f02078ff6bdd56f1c98eb3102be45/qiskit_

[2022-01-26 20:15] Cryoris commented on #479
Ah I see! Yes I think this should be possible -- as long as the job result is still stored on our servers. From the job ID we can query both the result and the inputs which should enable us to construct the results object.

[2022-01-27 09:09] iuliazidaru commented on #514
@mrossinek yes, I'll implement this.

[2022-01-27 16:00] iuliazidaru commented on #384
@mrossinek Please assign this task to me too.

[2022-01-28 10:53] mrossinek commented on #480
This was actually solved in Qiskit Nature 0.3.0. The reason it went unnoticed is that the issue in qiskit-ibm-runtime got opened the day that 0.3.0 was released. That issue was closed yesterday, so I am closing this one too.

[2022-01-28 10:53] #480 closed

[2022-01-28 12:49] iuliazidaru commented on #479
@Cryoris Yes. I'll implement it.

[2022-01-31 02:30] ikkoham commented on #479
@Cryoris Thanks. It might be better to name the method differently.

[2022-01-31 15:37] mrossinek commented on #166
A quick update on this epic:
- [ ] `pyquante`: handled by #525
- [ ] `psi4`: handled by #521 (blocked by #461)
- [ ] `gaussian`: prepared offline (blocked by #461 and #521 [latter due to minor general refactoring in that PR])
- [ ] `hdf5`: prepared offline (blocked by #461)

[2022-02-01 19:09] Janez88 opened #528 "Cannot import thermodynamic properties"
### Environment

- **Qiskit Nature version**: 0.3.0
- **Python version**: 3.7
- **Operating system**: Windows and Linux

### What is happening?

Cannot import thermodynamic properties from qiskit-nature/docs/tutorials/thermodynamics_utils. Always get ModuleNotFoundError.

### How can we reproduce the issue?

`from thermodynamics_utils.thermodynamics import constant_volume_heat_capacity
from thermo

[2022-02-02 05:27] #473 closed

[2022-02-02 12:46] mrossinek commented on #466
Closed by #471 (aa910c9e8fda690535c9a1634b91c10cf0c682db)

[2022-02-02 12:46] #466 closed

[2022-02-03 13:38] #477 closed

[2022-02-03 15:59] kevinsung commented on #460
During offline discussion with @mrossinek, we considered adding a class analogous to PolynomialTensor from OpenFermion that both QuadraticHamiltonian and the electronic integral classes would inherit from. Upon further investigation, I have found that while this is possible, some tradeoffs would need to be made.

PolynomialTensor stores the coefficients of creation and annihilation operators in a

[2022-02-03 16:07] mrossinek commented on #460
I did not have in mind to follow the implementation of `PolynomialTensor` to such a close degree. To my understanding the discussion evolved more around finding a common matrix-based container base class which can be used by both, the `ElectronicIntegrals` and the `QuadraticHamiltonian`.

I will need to think about this in more detail next week. A quick pointer however that #533 reduces the memory

[2022-02-03 16:25] kevinsung commented on #460
I see. The way that `ElectronicIntegrals` explicitly accounts for spin and uses that information for space savings seems somewhat at odds with a class like `QuadraticHamiltonian` that is meant to represent general operators, so my current recommendation is that we should keep them separate.

[2022-02-04 15:07] mrossinek opened #537 "Support the `BKSF` mapper when using the `HartreeFock` initial state"
### What is the expected enhancement?

The `HartreeFock` initial state currently does not support the `BKSF` mapper. This was originally reported in #436 which was closed after putting a workaround in place to handle this scenario more gracefully in #451.

It is still desirable to support this combination of initial state and mapper, hence, I am opening this issue to keep track of the development

[2022-02-04 17:18] #436 closed

[2022-02-07 18:01] kevinsung opened #540 "Jordan Wigner transform requires too much boilerplate"
### What is the expected enhancement?

This is how I have been doing the Jordan-Wigner transform to convert a FermionicOp to a SparsePauliOp:

[code]

Instead, I would like to do something like
[code]

[2022-02-07 18:49] kevinsung opened #541 "Iterate over FermionicOp terms"
### What should we add?

I was trying to figure out how to iterate over the individual terms of a FermionicOp. I found the `FermionicOp.to_list` method, but that returns the term as strings like `"+_2 -_0"` so it's not useful for accessing the indices and operators programmatically. Apparently the `_data` attribute does store the terms in a useful format, but it's private and uses the private `_Fe

[2022-02-07 21:07] kevinsung opened #542 "Permute indices of SparseLabelOp subclasses"
### What should we add?

FermionicOp should support relabeling its indices according to a permutation. This is useful for performing fermionic swaps virtually.

[2022-02-08 08:01] mrossinek commented on #540
When Nature was split out of Aqua we have decided to take a much more modular
approach to the development. This immediately also brought in very verbose
import paths which can be (admittedly) cumbersome to type out.

However, as an uninitiated user you can learn a lot more from
[code]
than from
[code]

The latter hides major aspects of the stack and, on top of that, would add a
redundancy of how a

[2022-02-08 13:11] kevinsung commented on #540
I'm mainly talking about the length of the code itself, not the imports. But thanks for the explanation of that, it's good to know.

QubitConverter and instead can use the following directly:

Thanks, I didn't know that. This is better, but in my opinion it is still a bit too verbose. It would be nice to have it be a simple function call, without requiring the initialization of a separate object.

[2022-02-08 13:33] mrossinek commented on #540
It's easy enough to define that function yourself when you find yourself using it so often. I don't think this grants a redundant option in the code base.

[2022-02-08 13:33] #540 closed

[2022-02-09 07:21] #493 closed

[2022-02-09 20:30] kevinsung opened #545 "Jordan-Wigner transform slow on parity operator"
### What is the expected enhancement?

The Jordan-Wigner transform generally has good performance. For example, it is usually faster than OpenFermion. However, I have found one case in which it performs very badly. This is the case of the parity operator. The Jordan-Wigner transform of the parity operator is just a single Pauli string of all Z's. So, in practice one wouldn't actually need to run t

[2022-02-10 16:13] #519 closed

[2022-02-10 16:56] kevinsung opened #551 "Normal order should reduce, not the other way around"
### Environment

- **Qiskit Nature version**: 98de3b06fbc8b03e4079fbf7e256169f0196facc
- **Python version**: N/A
- **Operating system**: N/A

### What is happening?

Normal ordering should put an operator into a canonical form. This means that two equivalent operators should have the same normal order. So `FermionicOp.to_normal_order` should "reduce" the operator by merging terms with the same lab

[2022-02-11 09:30] mrossinek commented on #528
In what scenario are you running into this issue? If you are trying to run the tutorial this is a bug. If you are trying to import these utilities from a custom script than this is not a bug.
The reason that the thermodynamic utilities are not exposed as part of Qiskit Nature itself, is that they are by no means generalized enough to work predictably for usage outside of the tutorial. If you reall

[2022-02-11 09:45] ChrisW918 opened #553 "unexist method of vqe used in adapt_vqe"
Lately, I was trying to use adapt-vqe to calculate a LiH's ground state energy. However, it reported in the line 104 within

the method get_energy_evaluation is not existing.

[2022-02-11 10:25] mrossinek commented on #312
I gave this some more thought and wanted to query @pbark and @woodsp-ibm for the following ideas:

- `aux_properties` (or whatever we may call them) should be supplied `BaseProblem.__init__`
  The reason being that the properties are blueprints for operators which should be able to undergo the transformer. Hence, these should be supplied at problem level construction rather than during `.solve()`

[2022-02-11 14:55] woodsp-ibm commented on #553
What version of Nature and Terra are you using. The `get_energy_evaluation` exists in main and the latest stable (has been there since 0.18 in Terra).

There is a unit test here that passes CI that would otherwise fail https://github.com/Qiskit/qiskit-nature/blob/main/test/algorithms/ground_state_solvers/test_adapt_vqe.py

[2022-02-11 19:53] JoelHBierman commented on #489
Thank you for clarifying on this! One more question:

Is the `initial_state` argument independent of how Qiskit determines what the "reference state" is? I am pretty sure the answer to this is "yes", but I would just like to make sure.

So for instance, if a user passes `None` to the `initial_state`, will it default to prepending a `HartreeFock` circuit to the beginning to the Ansatz circuit, then

[2022-02-11 21:04] woodsp-ibm commented on #312
Hopefully I understood the intent of the above; anyway here is my thought back

Are we always able to do this? If they are dependent on the problem being further processed, which I think what we generate today are e.g. at least going through the driver to get more information on the problem, does it work at that level in general? The current properties are the result of the driver being run, they

[2022-02-12 11:03] mrossinek commented on #312
No, this is not generally possible. As you point out correctly, cases like e.g. the `ElectronicEnergy` or `ElectronicDipoleMoment` could not be handled in such a way. If a user creates a custom property which relies on data that needs to be extracted manually from the driver, they also need to write a custom driver to construct such a property.
However, some cases can be handled quite simply. One

[2022-02-14 01:18] #553 closed

[2022-02-14 08:37] pbark commented on #166
I am moving this epic back to product backlog until we have completed the hdf5 and the rest of the drivers updates.

[2022-02-14 08:41] pbark opened #555 "Qiskit Nature Algorithms and Algorithmic Components"
This epic is related to the MES and ES and the different components related to qiskit Nature

[2022-02-14 12:52] pbark opened #556 "Quantum Electrodynamics Model (QED)"
### What should we add?

We would like to extend the lattice models to support also the QED Model.

References: [here](https://arxiv.org/pdf/2005.10271.pdf) and [here](https://arxiv.org/abs/2105.05870)

[2022-02-14 12:53] pbark opened #557 "Spin Boson Model"
### What should we add?

We would like to extend the lattice models also to support the Spin-Boson as in [Miessen et al](https://arxiv.org/abs/2108.04258) .

[2022-02-14 15:29] mrossinek commented on #489
The excitations generated by the `UCC` ansatz (and its base classes) are **independent** of what you choose for `initial_state`. It is the user's responsibility to match these (which is not difficult because as of now we only have the `HartreeFock` initial state).

You're right that this is slightly confusing and we will clarify this in the documentation. The reason that you can pass an `initial_s

[2022-02-14 22:51] jvscursulim opened #559 "Add a new tutorial: deuteron binding energy"
### What should we add?

Hi everyone,

I've participated in the project Add Qiskit Nature demonstrations for physics problems (https://github.com/qiskit-advocate/qamp-fall-21/issues/27) of Qiskit Advocate Mentorship Program 2021 Fall, and one of the goals of our group was the development of a tutorial explaining how someone could use Qiskit Nature tools to solve a physical problem. Then, I'm here

[2022-02-15 10:59] #465 closed

[2022-02-15 17:13] mrossinek opened #561 "Deprecate all `LegacyDriver` related code"
### What is the expected enhancement?

The legacy driver results, `QMolecule` and `WatsonHamiltonian`, have been deprecated in Qiskit Nature 0.2.0.
We currently still have various places where we use them via their public API in order to provide migration/conversion utilities. Most notably in the `HDF5Driver` (as pointed out [here](https://github.com/Qiskit/qiskit-nature/pull/550#discussion_r80514

[2022-02-15 17:37] #545 closed

[2022-02-16 10:25] ElePT commented on #124
I think that this could be a good first issue for me, but it might take more than one sprint with my current bandwidth. Would you like me to work on it?

[2022-02-16 10:40] pbark commented on #124
@ElePT that would be great. I will split in multiple issues and assign them to you. Thank you very much!

[2022-02-16 13:30] kevinsung opened #562 "Make SecondQuantizedOp inherit from Iterable"
### What should we add?

#544 Makes FermionicOp iterable. As @woodsp-ibm mentioned there, the other subclasses of SecondQuantizedOp should also be made iterable by defining `__iter__`. In fact, he suggested that subclasses of SecondQuantizedOp be required to define `__iter__`. This can be done by making SecondQuantizedOp inherit from the Iterable class from the `typing` module.

I think this is a

[2022-02-16 13:50] pbark opened #563 "Implement the Lattice Model Problem"
### What should we add?

As it is done for electronic stucture and vibrational structure problems we should be able to implement a lattice model problem that support the solution of a lattice model the `second_q_ops()` and the `interpret()` methods for a lattice model Hamiltonian. In the same way an electronic structure problems is initialised with a driver and the transformers, here we should pro

[2022-02-16 14:24] kevinsung opened #564 "Error on local lint check"
### Environment

- **Qiskit Nature version**: 218c7f9fc20fbe48e804162184960cbe0de2f37c
- **Python version**: 3.8.8
- **Operating system**: RHEL 8.5

### What is happening?

Errors when running `make lint`.

### How can we reproduce the issue?

`make lint`
[code]

### What should happen?

No error.

### Any suggestions?

_No response_

[2022-02-16 15:22] mrossinek commented on #564
The CI is checking `make lint` for Python versions 3.7 through 3.10 on Ubuntu, Mac OS and Windows. So I assume that this is some problem in your local setup. Especially, given the fact that your pylint appears to be unable to resolve imports from the builtin `math` module.

Please try ensuring that your development tools are up-to-date:
[code]
If the error persists, please provide more details:
-

[2022-02-16 15:37] kevinsung commented on #564
Thanks, I did run `python -m pip install -U -c constraints.txt -r requirements-dev.txt` and make sure my virtual environment was active and verify that `make lint` is using the correct python.

Output of `pip list`:
[code]

[2022-02-16 15:43] mrossinek commented on #564
Looks like you're running into this issue: https://github.com/PyCQA/pylint/issues/5704

You can:
- downgrade `setuptools` to something `<60`
- upgrade to Python 3.9

[2022-02-16 15:43] #564 closed

[2022-02-16 16:24] manoelmarques commented on #564
The CI uses the `setuptools` that is already in the pre-installed conda distribution that each Github Actions VM has.

[2022-02-21 20:33] kevinsung opened #567 "Formatting check fails to ignore build files"
### Environment

- **Qiskit Nature version**: 47eabdb07cc68cbe28fdb4140c6a878cb18d76f9
- **Python version**: 3.9.6
- **Operating system**: RHEL 8.5

### What is happening?

Running local checks produces error on black check.

### How can we reproduce the issue?

Run `make all_check`
[code]

### What should happen?

No error.

### Any suggestions?

_No response_

[2022-02-21 20:37] mtreinish commented on #567
This looks like your running black on the wrong files by mistake. The files in `_build/jupyter_execute` are almost certainly generated content by `jupyter-execute` directives that sphinx is generating after compiling the documentation. There isn't any reason you should need to run code formatting on them as they're not source code in the repository.

[2022-02-21 20:40] kevinsung commented on #567
Thanks, I've updated the title of this issue accordingly.

[2022-02-22 13:04] #567 closed

[2022-02-22 22:52] woodsp-ibm opened #571 "VQE initial point when using HF+UCC"
### What is the expected enhancement?

When creating an initial_state + variable anstaz combined state in order to have HF+UCCSD produce the HF energy as the first eval the ansatz, in this case UCCSD needs to be appropriately parameterized. All zeros in this case. Now there still remains in the EvolvedOperatorAnstaz a preferred init point method where the idea was to inform VQE (or any other algo

[2022-02-23 07:42] #166 closed

[2022-02-23 08:01] Cryoris commented on #571
If I use just a UCCSD ansatz and plug that into the VQE the HF initial state is not automatically added, is it? In that scenario it seems to me that the all-zero initial state might be attached to the wrong object.

Running VQE with HF+UCCSD, and initializing it with the correct state, could also be considered a full workflow where the user doesn't really have to deal with our basic building block

[2022-02-23 08:07] mrossinek commented on #571
This is exactly what the `VQEUCCFactory` does. In that scenario everything works as expected and we are also able to simply set `VQE.initial_point` manually as desired (i.e. there is no need for the `preferred_init_points`).

However, the problem arises when a user does things manually _and_ transpiles the ansatz themselves. When they pass the blueprint (HF+UCC) into the `VQE` things still work as

[2022-02-23 08:10] Cryoris commented on #571
If we would remove `preferred_init_points` then the expectation would never be that VQE/UCC sets the initial points for you, so no matter whether you transpile or not -- you have to set the initial point yourself. In this case, no expectations are broken 😉

And if you do want to have things set for you, you can use `VQEUCCFactory` 😄

[2022-02-23 08:16] mrossinek commented on #571
Yes that's exactly the conclusion which we have arrived at as well.

This would require:
- removing `preferred_init_points` (also in the docs of `VQE.init_point`)
- fixing the initialization in `VQEUCCFactory`
- properly documenting the expectation for a user to manually set the `init_point` (I suggested to @woodsp-ibm offline that we could even point to the `VQEUCCFactory` as a "reference setup"

[2022-02-23 09:20] mrossinek opened #574 "Support additional data in `DriverMetadata`"
### What is the expected enhancement?

#573 adds a workaround for the `DriverMetadata` object when passed through a transformer.

A useful enhancement would be to support additional data in this container which can store transformer-related information. This would serve the purpose of providing full information of how a certain driver result was obtained aiding in future reproducability.

A very c

[2022-02-23 11:20] ElePT opened #575 "Refactor `OrbitalRotation` class for `ooVQE`"
### What is the expected enhancement?

As stated in issue #124, the `ooVQE` algorithm needs to undergo a major refactoring to fit into the current Qiskit Nature framework. This algorithm is an extension of VQE where we optimize the rotation matrix of one body integrals and the ansatz parameters simultaneously. The rotation matrix is implemented by the `OrbitalRotation` class, which also needs to b